.pulse-button {
	border: none;
	box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
	border-radius: 2em;
    background-color: #0099cc;
    cursor: pointer;
    color: #fff;
    padding: 8px 25px;
	
  }
  .pulse-button:hover 
  {
	-webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	-moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	-ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  }
  
  @-webkit-keyframes pulse {to {box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);}}
  @-moz-keyframes pulse {to {box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);}}
  @-ms-keyframes pulse {to {box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);}}
  @keyframes pulse {to {box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);}}
.setup-space{
  padding: 20px 0;
}
.grsetup h2{
  font-size: 20px;
}
  .grcontent {
    font-size: 13px;
    line-height: 1.5rem;
}
.mT30 {
  margin-top: 30px;
}
.createGroups {
  color: #bbb;
  margin-top: 0;
  font-size: .857rem!important;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  padding-top: 1.429rem;
  padding-bottom: 1.429rem;
  margin-bottom: 1.429rem;
  text-align: center;
}
.primaryflatbtn {
  color: #fff;
  background: #42a2eb;
  border: 1px solid transparent;
  display: inline-block;
  border-radius: 2px;
    font-size: .929rem;
    padding: .35rem 1.071rem;
    cursor: pointer;
    margin: 0 10px;
}
.userform{
  width: 70%;
    padding: 15px;
    border: 1px solid #ccc;
    margin: 0 auto;
    h3{
      font-size: 18px;
    background: #42a2eb;
    color: #fff;
    padding: 10px;
    }
}
thead th{
  font-size: 13px;
}