<button type="button" class="pulse-button pull-right" (click)="gotoBack()">
  Back
</button>
<div class="clearfix"></div>
<div class="setup-space">
  <div class="grsetup">
    <h2>Groups</h2>
  </div>
  <div class="grcontent">
    This page lists all public groups created for your organization.
  </div>
  <div class="createGroups mT30">
    No groups have been created.
    <span>
      <button type="button" class="primaryflatbtn" (click)="CreateGroups()">
        + New Group
      </button>
    </span>
  </div>
  <!-- show and hide form -->
  <ng-container *ngIf="toggleForm">
    <div class="userform">
      <h3>Create New Group</h3>
      <form>
        <div class="form-group">
          <label>Group Name</label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label>Group Description</label>
          <textarea class="form-control"></textarea>
        </div>
        <div class="form-group">
          <label>Select Group Source Type</label>
          <select class="form-control">
            <option value="user">User</option>
            <option value="role">Role</option>
            <option value="groups">Groups</option>
          </select>
        </div>
      </form>
    </div>
  </ng-container>
</div>
<div>
  <div class="grsetup">
    <h2>Activate Users</h2>
  </div>
  <div class="grcontent">
    This page allows you to activate and deactivate users. Note: your
    organization cannot have more active users than user licenses.
  </div>
  <div class="activeUser">
    <!-- npm install ngx-toggle-switch --save -->
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>
              FULL NAME
            </th>
            <th>
              EMAIL ADDRESS
            </th>
            <th>
              ROLE
            </th>
            <th>
              PROFILE
            </th>
            <th>USER STATUS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Shraddha</td>
            <td>Gurugram</td>
            <td>CEO</td>
            <td>Administrator</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
