<div class="row">
    <div class="col-12">
        <div widget class="card">
            <div class="card-header">
                <span>Payment Form</span>
              
            </div>
            <div class="card-body widget-body">
                <ul class="payment-ui">
                    <li *ngFor="let step of steps; let last = last" [class.active]="step.active" [class.valid]="step.valid" [ngClass]="{'last' : last }">
                        <div class="step-icon">
                                    <i class="fa {{ step.icon }}" aria-hidden="true"></i>
                                    <span class="step-name" [class.active]="step.active"
                                    [class.valid]="step.valid">{{step.name}}</span>
                        </div>
                    </li>
                </ul>
              

                <div *ngFor="let step of steps" [hidden]="!step.active" class="col form-wizard">
                    <!-- <div class="row form-title">
                        <h4><i class="fa {{ step.icon }}"></i> {{step.name}}</h4>
                    </div> -->

                    <form [formGroup]="personalForm" *ngIf="step.name=='Personal Information'">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="">First Name</label>
                                    <input type="text" class="form-control" formControlName="firstname" name="firstname" />
                                    <span class="help-block text-danger"
                                    *ngIf="step.hasError && personalForm.get('firstname').hasError('required')">First Name
                                    is required</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="">Last Name</label>
                                    <input type="text" placeholder="" class="form-control" formControlName="lastname" name="lastname" />
                                    <span class="help-block text-danger"
                                    *ngIf="step.hasError && personalForm.get('lastname').hasError('required')">Last Name
                                    is required</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="">Select Gender</label>
                                    <select class="form-control" formControlName="gender" name="gender">
                                        <option>Select Gender</option>
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" [ngClass]="{'has-danger' : (step.hasError && personalForm.get('email').hasError('required')) || (step.hasError && personalForm.get('email').hasError('invalidEmail')), 
                                'has-success' : !personalForm.get('email').hasError('required') && !personalForm.get('email').hasError('invalidEmail')}">
                                    <label for="">Email Address</label>
                                    <input type="email" placeholder="" class="form-control" formControlName="email" [ngClass]="{'form-control-danger' : (step.hasError && personalForm.get('email').hasError('required')) || (step.hasError && personalForm.get('email').hasError('invalidEmail')), 
                                    'form-control-success' :  !personalForm.get('email').hasError('required') && !personalForm.get('email').hasError('invalidEmail')}" />
                                    <span class="help-block text-danger"
                                    *ngIf="step.hasError && personalForm.get('email').hasError('required')">Email is
                                    required</span>
                                <span class="help-block text-danger"
                                    *ngIf="step.hasError && personalForm.get('email').hasError('invalidEmail')">Invalid
                                    email address</span>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="">Profile Name</label>
                                    <input type="text" formControlName="profilename" class="form-control" />
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="form-group"  [ngClass]="{'has-danger' : step.hasError && personalForm.get('phone').hasError('required'), 'has-success' : !personalForm.get('phone').hasError('required') }">
                                    <label for="">Phone Number</label>
                                    <input formControlName="phone" class="form-control"  [ngClass]="{'form-control-danger' :  personalForm.get('phone').hasError('required'), 'form-control-success' :  !personalForm.get('phone').hasError('required') }"
                                    type="number"/>
                                    <span class="help-block text-danger"
                                    *ngIf="step.hasError && personalForm.get('phone').hasError('required')">Phone is
                                    required</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Choose Type</label>
                                    <select class="form-control" formControlName="type" name="type">
                                        <option>Type</option>
                                        <option>Item1</option>
                                        <option>Item2</option>
                                    </select>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Choose Category</label>
                                    <select class="form-control" formControlName="category" name="category">
                                        <option>Choose Category</option>
                                        <option>Item1</option>
                                        <option>Item2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="">Background Image</label>
                                    <input type="file" placeholder="" class="form-control custom-file-input" formControlName="bgimage" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="">DP Image</label>
                                    <input type="file" placeholder="" class="form-control custom-file-input" formControlName="dpimage" />
                                </div>
                            </div>
                        </div>
                    </form>

                <form *ngIf="step.name=='Address Information'" [formGroup]="addressDetails">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                    <label>Language</label>
                                    <input type="text" class="form-control" formControlName="language" name="language" >
                            </div>
                        </div>
                        <div class="col-sm-6">
                                <div class="form-group">
                                        <label>Adhar No</label>
                                        <input type="text" class="form-control" formControlName="adharno" name="adharno" >
                                </div>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" [ngClass]="{'has-danger' : step.hasError && addressDetails.get('country').hasError('required'), 'has-success' : !addressDetails.get('country').hasError('required') }">
                                <label>Select Country</label>
                                <select formControlName="country" class="form-control"
                                [ngClass]="{'form-control-danger' : step.hasError && addressDetails.get('country').hasError('required'), 'form-control-success' : !addressDetails.get('country').hasError('required') }">
                                <option>India</option>
                                <option>Canada</option>
                                <option>Mexico</option>
                                <option>UK</option>
                                <option>France</option>
                                <option>Italy</option>
                            </select>
                            <span class="help-block text-danger"
                                *ngIf="step.hasError && addressDetails.get('country').hasError('required')">Country is
                                required</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                                <div class="form-group" [ngClass]="{'has-danger' : step.hasError && addressDetails.get('state').hasError('required'), 'has-success' : !addressDetails.get('state').hasError('required') }">
                                    <label>Select State</label>
                                    <select formControlName="state" class="form-control"
                                    [ngClass]="{'form-control-danger' : step.hasError && addressDetails.get('state').hasError('required'), 'form-control-success' : !addressDetails.get('state').hasError('required') }">
                                    <option>Arkansas</option>
                                    <option>Texas</option>
                                    <option>California</option>
                                    <option>Florida</option>
                                    <option>Other</option>
                                </select>
                                <span class="help-block text-danger"
                                    *ngIf="step.hasError && addressDetails.get('state').hasError('required')">State is
                                    required</span>
                                </div>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" [ngClass]="{'has-danger' : step.hasError && addressDetails.get('pincode').hasError('required'), 'has-success' : !addressDetails.get('pincode').hasError('required') }">
                                <label>Pin Code</label>
                                <input type="number" name="pincode" formControlName="pincode" class="form-control" [ngClass]="{'form-control-danger' : step.hasError && addressDetails.get('pincode').hasError('required'), 'form-control-success' : !addressDetails.get('pincode').hasError('required') }">
                                <span class="help-block text-danger"
                                *ngIf="step.hasError && addressDetails.get('pincode').hasError('required')">Pin code is
                                required</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>District</label>
                                <select name="district" formControlName="district" class="form-control" [ngClass]="{'form-control-danger' : step.hasError && addressDetails.get('district').hasError('required'), 'form-control-success' : !addressDetails.get('district').hasError('required') }">
                                    <option value="defailt">Select District</option>
                                    <option>Arkansas</option>
                                    <option>Texas</option>
                                    <option>California</option>
                                    <option>Florida</option>
                                    <option>Other</option>
                                </select>
                                <span class="help-block text-danger"
                                *ngIf="step.hasError && addressDetails.get('district').hasError('required')">Pin code is
                                required</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                        <label>Village/Block</label>
                                        <input type="text" class="form-control" formControlName="village" name="village" >
                                </div>
                            </div>
                            <div class="col-sm-6">
                                    <div class="form-group">
                                            <label>Signatures</label>
                                            <input type="text" class="form-control" formControlName="signature" name="signature" >
                                    </div>
                                </div>
                        </div>
                    <div class="row">
                      <div class="col-sm-6">
                          <div class="form-group">
                              <label>Time Zone</label>
                              <input type="text" class="form-control" formControlName="timezone" name="timezone" >
                          </div>
                      </div>
                      <div class="col-sm-6">
                            <div class="form-group">
                                <label>Time Format</label>
                                <select class="form-control" formControlName="timeformat" name="timeformat">
                                    <option>12</option>
                                    <option>24</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Currency</label>
                                    <select class="form-control" formControlName="currency" name="currency">
                                        <option>12</option>
                                        <option>24</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Location</label>
                                        <input type="text" class="form-control" formControlName="location" name="location" >
                                    </div>
                                </div>
                    </div>
                </form>
                

                  

                    <form *ngIf="step.name=='Payment Information'" [formGroup]="paymentForm">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Pay tm</label>
                                    <input type="text" formControlName="paytm" name="paytm" class="form-control" >
                                </div>
                            </div><div class="col-sm-6"></div>
                        </div>
                        <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Phone Pe</label>
                                        <input type="text" formControlName="phonepe" name="phonepe" class="form-control" >
                                    </div>
                                </div><div class="col-sm-6"></div>
                            </div>
                            <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Bhim App</label>
                                            <input type="text" formControlName="bhimapp" name="bhimapp" class="form-control" >
                                        </div>
                                    </div><div class="col-sm-6"></div>
                                </div>
                          <div class="row">
                              <div class="col-sm-6">
                                    <div class="form-group"
                                    [ngClass]="{'has-danger' : step.hasError && paymentForm.get('cardtype').hasError('required'), 'has-success' : !paymentForm.get('cardtype').hasError('required') }">
                                    <label class="form-control-label">Account No</label>
                                    <input type="text" formControlName="accountno" class="form-control"
                                    [ngClass]="{'form-control-danger' : step.hasError && paymentForm.get('accountno').hasError('required'), 'form-control-success' : !paymentForm.get('accountno').hasError('required') }" >
                                  
                                    <span class="help-block text-danger"
                                        *ngIf="step.hasError && paymentForm.get('accountno').hasError('required')">Account No is
                                        required</span>
                                </div>
                              </div>
                              <div class="col-sm-6">
                                    <div class="form-group"
                                    [ngClass]="{'has-danger' : step.hasError && paymentForm.get('ifsc').hasError('required'), 'has-success' : !paymentForm.get('ifsc').hasError('required') }">
                                    <label class="form-control-label">IFSC Code</label>
                                    <input type="text" formControlName="accountno" class="form-control"
                                    [ngClass]="{'form-control-danger' : step.hasError && paymentForm.get('ifsc').hasError('required'), 'form-control-success' : !paymentForm.get('ifsc').hasError('required') }" >
                                  
                                    <span class="help-block text-danger"
                                        *ngIf="step.hasError && paymentForm.get('ifsc').hasError('required')">IFSC code is
                                        required</span>
                                </div>
                              </div>
                          </div>  
                    </form>

                    <div *ngIf="step.name=='Confirm Your Details'" class="row">
                        <div class="col-2"><strong class="text-truncate">Username</strong></div>
                        <div class="col-10"><i>{{details.username}}</i></div>
                        <div class="col-2"><strong class="text-truncate">Full Name</strong></div>
                        <div class="col-10"><i>{{details.fullname}}</i></div>
                        <div class="col-2"><strong class="text-truncate">Gender</strong></div>
                        <div class="col-10"><i>{{details.gender}} &nbsp;</i></div>
                        <div class="col-2"><strong class="text-truncate">Contact Email</strong></div>
                        <div class="col-10"><i>{{details.email}}</i></div>
                        <div class="col-2"><strong class="text-truncate">Phone NO.</strong></div>
                        <div class="col-10"><i>{{details.phone}}</i></div>
                        <div class="col-2"><strong class="text-truncate">Address</strong></div>
                        <div class="col-10"><i>{{details.address}} &nbsp;</i></div>
                        <div class="col-2"><strong class="text-truncate">Country</strong></div>
                        <div class="col-10"><i>{{details.country}}</i></div>
                        <div class="col-2"><strong class="text-truncate">Zip Code</strong></div>
                        <div class="col-10"><i>{{details.zipcode}}</i></div>
                        <div class="col-2"><strong class="text-truncate">Card Type</strong></div>
                        <div class="col-10"><i>{{details.cardtype}}</i></div>
                        <div class="col-2"><strong class="text-truncate">Card Number</strong></div>
                        <div class="col-10"><i>{{details.cardnumber}}</i></div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary pull-left" (click)="prev()"><i
                                class="fa fa-chevron-left arrow"></i>&nbsp; Prev Step</button>
                        <button *ngIf="!steps[steps.length-1].active" class="btn btn-primary pull-right"
                            (click)="next()">Next Step &nbsp;<i class="fa fa-chevron-right arrow"></i></button>
                        <button *ngIf="steps[steps.length-1].active" class="btn btn-primary pull-right"
                            (click)="confirm()">Submit &nbsp;<i class="fa fa-check arrow"></i></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>