<div class="ls section20 section_padding_bottom_30">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 text-sm-center">
                <!-- Shop img -->
                <div class="shop-flexslider">
                    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7">
                <h3 class="shop-single__title">Barley(जौ)</h3>
                <div class="rating_section">
                    <span class="product-rating">
                        <div class="hGSR34">
                            3.5 <i class="fa fa-star"></i>
                        </div>
                    </span>
                    <span class="raview">
                        <span>3.5 Ratings </span>&nbsp;<span>&</span>&nbsp;<span>5 Review</span>
                    </span>
                </div>
                <span class="shop-item__price">
                    <span>
                        <span class="amount"><i class="fa fa-inr"></i> 17.00</span>
                        <!-- <span class="amount-cut"><i class="fa fa-inr"></i> 275.00</span>
                        <span class="discount_sss">10% off</span> -->
                    </span>
                </span>
                <p class="shop-single__text">जौ पृथ्वी पर सबसे प्राचीन काल से कृषि किये जाने वाले अनाजों में से एक है,
                        इसका उपयोग प्राचीन काल से धार्मिक संस्कारों में होता रहा है.</p>
                <div class="shop-single__controls">
                    <div class="single-shop-item__gty">
                        <span class="quantity form-group">
                            <button type="button" (click)="increment()" class="minus">+</button>
                            <!-- <input type="button" value="-" class="minus"> -->
                            <input type="number" step="1" min="0" name="product_quantity" value="{{counter}}"
                                title="Qty" id="product_quantity" class="form-control ">
                            <!-- <input type="button" value="+" class="plus"> -->
                            <button (click)="decrement()" class="plus">-</button>
                        </span>

                    </div>
                </div>
                <div class="submitbtn">
                    <ul>
                        <li>
                            <button type="button" class="button-5">Add To Cart</button>
                        </li>
                        <li>
                            <button type="submit" class="button-51">Buy Now</button>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <tabset>
                    <tab heading="{{item.title}}" id="tab1" *ngFor="let item of productnote" class="customtabs">
                        {{item.description}}
                    </tab>
                </tabset>
            </div>

        </div>
    </div>
</div>