<div class="kt-grid kt-grid--ver kt-grid--root kt-page loginbg"> 
    <div class="kt-login__form loginForm"> 
        <div class="loginLogo">
                <a class="navbar-brand" routerLink="/" (click)="closeSubMenus()">
                    <img src="assets/img/logo/az_logo_full.png" alt="" class="d-md-block d-none">
                    <img src="assets/img/logo/az_logo.png" alt="" class="d-md-none">
                </a>
        </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="kt-form">
            <div class="form-group">
                <input [formControl]="email" class="form-control checking-field" placeholder="Email" type="text">                      
                <span class="help-block text-danger" *ngIf="form.get('email').touched && form.get('email').hasError('required')">Email is required</span>                              
                <span class="help-block text-danger" *ngIf="form.get('email').touched && form.get('email').hasError('invalidEmail')">Invalid email address</span>
            </div>
            <div class="form-group">
                <input [formControl]="password" class="form-control checking-field" placeholder="Password" type="password">
                <span class="help-block text-danger" *ngIf="form.get('password').touched && form.get('password').hasError('required')">Password is required</span>                              
                <span class="help-block text-danger" *ngIf="form.get('password').touched && form.get('password').hasError('minlength')">Password isn't long enough, minimum of 6 characters</span>
            </div>
            <div class="form-group d-flex justify-content-between">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input checkbox-success" [formControl]="loginkeep" id="login-keep">
                        <label class="custom-control-label" for="login-keep">Keep me signed in</label>
                    </div>
                    <a class="forgot transition pull-right" href="javascript:void(0);">Forgot password?</a>                     
                </div>
            <div class="form-group">
                    <button [disabled]="!form.valid" class="btn btn-main btn-block btnlogin" type="submit">Sign in</button>
            </div>
           
           
        </form>
        <div class="signsection">
            Don't Have Account ? Go to <a class="text-primary align-middle" href="javascript:void(0)" routerLink="/signup">Sign Up</a>
        </div>
</div>
</div>

