<div class="row">
    <div class="col-12">
        <div widget class="card">
            <div class="card-header">
                <span>User Registration </span>
                <!-- <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>         -->
            </div>
            <div class="card-body widget-body">
                <div class="row">
                    <div *ngFor="let step of steps; let last = last" class="col-md-3 col-sm-6 col-12 step" [class.active]="step.active" [class.valid]="step.valid" [ngClass]="{'last' : last }">
                        <div class="step-icon">
                            <i class="fa {{ step.icon }}" aria-hidden="true"></i>
                        </div> 
                        <span class="step-name" [class.active]="step.active" [class.valid]="step.valid">{{step.name}}</span>    
                    </div> 
                </div>               
             
                <div *ngFor="let step of steps" [hidden]="!step.active" class="col form-wizard">
                    <div class="row form-title">
                        <h4><i class="fa {{ step.icon }}"></i> {{step.name}}</h4>
                    </div>
                        
                    <form *ngIf="step.name=='Account Information'" [formGroup]="accountForm" class="row">
                        <div class="form-group col-md-7 mb-3" [ngClass]="{'has-danger' : step.hasError && accountForm.get('username').hasError('required'), 'has-success' : !accountForm.get('username').hasError('required') }">
                            <label class="form-control-label">Username</label>
                            <div class="input-group"> 
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user-o"></i></span>
                                </div>
                                <input formControlName="username" class="form-control" [ngClass]="{'form-control-danger' :  accountForm.get('username').hasError('required'), 'form-control-success' :  !accountForm.get('username').hasError('required') }" type="text"> 
                            </div>
                            <span class="help-block text-danger" *ngIf="step.hasError && accountForm.get('username').hasError('required')">Username is required</span>                             
                        </div>

                        <div class="form-group col-md-7" [ngClass]="{'has-danger' : (step.hasError && accountForm.get('password').hasError('required')) || (step.hasError && accountForm.get('password').hasError('minlength')), 
                                                                     'has-success' : !accountForm.get('password').hasError('required') && !accountForm.get('password').hasError('minlength')}">
                            <label class="form-control-label">Password</label> 
                            <div class="input-group"> 
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-key"></i></span>
                                </div>                     
                                <input formControlName="password" class="form-control" [ngClass]="{'form-control-danger' : (step.hasError && accountForm.get('password').hasError('required')) || (step.hasError && accountForm.get('password').hasError('minlength')),                                                                                                        'form-control-success' : !accountForm.get('password').hasError('required') && !accountForm.get('password').hasError('minlength')}" type="password">
                            </div>
                            <span class="help-block text-danger" *ngIf="step.hasError && accountForm.get('password').hasError('required')">Password is required</span>                              
                            <span class="help-block text-danger" *ngIf="step.hasError && accountForm.get('password').hasError('minlength')">Password isn't long enough, minimum of 6 characters</span>                            
                        </div>

                        <div class="form-group col-md-7" [ngClass]="{'has-danger' : (step.hasError && accountForm.get('confirmPassword').hasError('required')) || (step.hasError && accountForm.get('confirmPassword').hasError('mismatchedPasswords')), 
                                                                     'has-success' : !accountForm.get('confirmPassword').hasError('required') && !accountForm.get('confirmPassword').hasError('mismatchedPasswords')}">
                            <label class="form-control-label">Confirm Password</label>                              
                            <div class="input-group"> 
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-key"></i></span>
                                </div>    
                                <input formControlName="confirmPassword" class="form-control" [ngClass]="{'form-control-danger' : (step.hasError && accountForm.get('confirmPassword').hasError('required')) || (step.hasError && accountForm.get('confirmPassword').hasError('mismatchedPasswords')), 
                                                                                                          'form-control-success' : !accountForm.get('confirmPassword').hasError('required') && !accountForm.get('confirmPassword').hasError('mismatchedPasswords')}" type="password" >
                            </div>
                            <span class="help-block text-danger" *ngIf="step.hasError && accountForm.get('confirmPassword').hasError('required')">Password is required</span>                              
                            <span class="help-block text-danger" *ngIf="step.hasError && accountForm.get('confirmPassword').hasError('mismatchedPasswords')">Passwords do not match</span> 
                        </div>
                      
                    </form>

                    <form *ngIf="step.name=='Personal Information'" [formGroup]="personalForm" class="row">
                            <div class="form-group col-md-5" [ngClass]="{'has-danger' : step.hasError && personalForm.get('type').hasError('required'), 'has-success' : !personalForm.get('type').hasError('required') }">
                                    <label class="form-control-label">Member Type </label>
                                    <select formControlName="type" class="form-control" [ngClass]="{'form-control-danger' :  personalForm.get('type').hasError('required'), 'form-control-success' :  !personalForm.get('type').hasError('required') }" >
                                            <option value="2"select="true" >Farmer</option>
                                            <option value="15">Admin</option>
                                            <option value="3">Expert</option>
                                            <option value="4">Vendor</option>
                                        </select>
                                    <span class="help-block text-danger" *ngIf="step.hasError && personalForm.get('type').hasError('required')">Member Type is required</span>                             
                                </div>

                        <div class="form-group col-md-5" [ngClass]="{'has-danger' : step.hasError && personalForm.get('first_Name').hasError('required'), 'has-success' : !personalForm.get('first_Name').hasError('required') }">
                            <label class="form-control-label">First Name</label>
                            <input formControlName="first_Name" class="form-control" [ngClass]="{'form-control-danger' :  personalForm.get('first_Name').hasError('required'), 'form-control-success' :  !personalForm.get('first_Name').hasError('required') }" type="text"> 
                            <span class="help-block text-danger" *ngIf="step.hasError && personalForm.get('first_Name').hasError('required')">First Name is required</span>                             
                        </div>

                        <div class="form-group col-md-5" [ngClass]="{'has-danger' : step.hasError && personalForm.get('last_Name').hasError('required'), 'has-success' : !personalForm.get('last_Name').hasError('required') }">
                            <label class="form-control-label">Last Name</label>
                            <input formControlName="last_Name" class="form-control" [ngClass]="{'form-control-danger' :  personalForm.get('last_Name').hasError('required'), 'form-control-success' :  !personalForm.get('last_Name').hasError('required') }" type="text"> 
                            <span class="help-block text-danger" *ngIf="step.hasError && personalForm.get('last_Name').hasError('required')">Last Name is required</span>                             
                        </div>

                        <div class="form-group col-md-3">
                            <label class="form-control-label">Gender</label>
                            <select formControlName="gender" class="form-control">
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>

                        <div class="form-group col-md-5" [ngClass]="{'has-danger' : (step.hasError && personalForm.get('email').hasError('required')) || (step.hasError && personalForm.get('email').hasError('invalidEmail')), 
                                                                     'has-success' : !personalForm.get('email').hasError('required') && !personalForm.get('email').hasError('invalidEmail')}">
                            <label class="form-control-label">Contact email</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                </div> 
                                <input formControlName="email" class="form-control" [ngClass]="{'form-control-danger' : (step.hasError && personalForm.get('email').hasError('required')) || (step.hasError && personalForm.get('email').hasError('invalidEmail')), 
                                                                                                'form-control-success' :  !personalForm.get('email').hasError('required') && !personalForm.get('email').hasError('invalidEmail')}" type="text">                      
                            </div>
                            <span class="help-block text-danger" *ngIf="step.hasError && personalForm.get('email').hasError('required')">Email is required</span>                              
                            <span class="help-block text-danger" *ngIf="step.hasError && personalForm.get('email').hasError('invalidEmail')">Invalid email address</span>
                        </div>

                        <div class="form-group col-md-4" [ngClass]="{'has-danger' : step.hasError && personalForm.get('phone').hasError('required'), 'has-success' : !personalForm.get('phone').hasError('required') }">
                            <label class="form-control-label">Phone</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                                <input formControlName="phone" class="form-control" [ngClass]="{'form-control-danger' :  personalForm.get('phone').hasError('required'), 'form-control-success' :  !personalForm.get('phone').hasError('required') }" type="number"> 
                            </div>
                            <span class="help-block text-danger" *ngIf="step.hasError && personalForm.get('phone').hasError('required')">Phone is required</span>                             
                        </div>
                        <div class="form-group col-md-4" [ngClass]="{'has-danger' : step.hasError && personalForm.get('mobile').hasError('required'), 'has-success' : !personalForm.get('mobile').hasError('required') }">
                            <label class="form-control-label">Mobile</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                                <input formControlName="mobile" class="form-control" [ngClass]="{'form-control-danger' :  personalForm.get('mobile').hasError('required'), 'form-control-success' :  !personalForm.get('mobile').hasError('required') }" type="number"> 
                            </div>
                            <span class="help-block text-danger" *ngIf="step.hasError && personalForm.get('mobile').hasError('required')">Mobile is required</span>                             
                        </div>
                        <div class="form-group col-md-2" [ngClass]="{'has-danger' : step.hasError && personalForm.get('zipcode').hasError('required'), 'has-success' : !personalForm.get('zipcode').hasError('required') }">
                            <label class="form-control-label">Zip Code</label>
                            <input formControlName="zipcode" class="form-control" [ngClass]="{'form-control-danger' :  personalForm.get('zipcode').hasError('required'), 'form-control-success' :  !personalForm.get('zipcode').hasError('required') }" type="text"> 
                            <span class="help-block text-danger" *ngIf="step.hasError && personalForm.get('zipcode').hasError('required')">required</span>                             
                        </div>

                        <div class="form-group col-md-5" [ngClass]="{'has-danger' : step.hasError && personalForm.get('country').hasError('required'), 'has-success' : !personalForm.get('country').hasError('required') }">
                            <label class="form-control-label">Select Country</label>
                            <select formControlName="country" class="form-control" [ngClass]="{'form-control-danger' : step.hasError && personalForm.get('country').hasError('required'), 'form-control-success' : !personalForm.get('country').hasError('required') }">
                                <option>USA</option>
                                <option>Canada</option>
                                <option>Mexico</option>
                                <option>UK</option>
                                <option>France</option>
                                <option>Italy</option>
                            </select>
                            <span class="help-block text-danger" *ngIf="step.hasError && personalForm.get('country').hasError('required')">Country is required</span>                             
                        </div>

                        <div class="form-group col-md-5">
                            <label class="form-control-label">Select State</label>
                            <select formControlName="state" class="form-control">
                                <option>Arkansas</option>
                                <option>Texas</option>
                                <option>California</option>
                                <option>Florida</option>
                                <option>Other</option>
                            </select>
                        </div>
                        
                        <div class="form-group col">
                            <label class="form-control-label">Address</label>
                            <textarea formControlName="address" class="form-control"></textarea>
                        </div>                     
                    </form>

                    <form *ngIf="step.name=='Payment Information'" [formGroup]="paymentForm" class="row">
                        <div class="form-group col-md-7" [ngClass]="{'has-danger' : step.hasError && paymentForm.get('cardtype').hasError('required'), 'has-success' : !paymentForm.get('cardtype').hasError('required') }">
                            <label class="form-control-label">Card Type</label>
                            <select formControlName="cardtype" class="form-control" [ngClass]="{'form-control-danger' : step.hasError && paymentForm.get('cardtype').hasError('required'), 'form-control-success' : !paymentForm.get('cardtype').hasError('required') }">
                                <option>Visa</option>
                                <option>Master Card</option>
                                <option>Other</option>
                            </select>
                            <span class="help-block text-danger" *ngIf="step.hasError && paymentForm.get('cardtype').hasError('required')">Card Type is required</span>                             
                        </div>

                        <div class="form-group col-md-7" [ngClass]="{'has-danger' : (step.hasError && paymentForm.get('cardnumber').hasError('required')) || (step.hasError && paymentForm.get('cardnumber').hasError('invalidNumber')), 
                                                                     'has-success' : !paymentForm.get('cardnumber').hasError('required') && !paymentForm.get('cardnumber').hasError('invalidNumber')}">
                            <label class="form-control-label">Card Number</label>
                            <input formControlName="cardnumber" class="form-control" [ngClass]="{'form-control-danger' : (step.hasError && paymentForm.get('cardnumber').hasError('required')) || (step.hasError && paymentForm.get('cardnumber').hasError('invalidNumber')), 
                                                                                                 'form-control-success' : !paymentForm.get('cardnumber').hasError('required') && !paymentForm.get('cardnumber').hasError('invalidNumber') }" type="text" maxlength="16"> 
                            <span class="help-block text-danger" *ngIf="step.hasError && paymentForm.get('cardnumber').hasError('required')">Card Number is required</span>                             
                            <span class="help-block text-danger" *ngIf="step.hasError && paymentForm.get('cardnumber').hasError('invalidNumber')">Invalid Card Number</span>
                        </div> 

                        <div class="form-group col-md-7" [ngClass]="{'has-danger' : (step.hasError && paymentForm.get('cvc').hasError('required')) || (step.hasError && paymentForm.get('cvc').hasError('invalidNumber')), 
                                                                     'has-success' : !paymentForm.get('cvc').hasError('required') && !paymentForm.get('cvc').hasError('invalidNumber') }">
                            <label class="form-control-label">CVC</label>
                            <input formControlName="cvc" class="form-control" [ngClass]="{'form-control-danger' : (step.hasError && paymentForm.get('cvc').hasError('required')) || (step.hasError && paymentForm.get('cvc').hasError('invalidNumber')), 
                                                                                          'form-control-success' : !paymentForm.get('cvc').hasError('required') && !paymentForm.get('cvc').hasError('invalidNumber') }" type="text" maxlength="3"> 
                            <span class="help-block text-danger" *ngIf="step.hasError && paymentForm.get('cvc').hasError('required')">CVC is required</span>                             
                            <span class="help-block text-danger" *ngIf="step.hasError && paymentForm.get('cvc').hasError('invalidNumber')">Invalid CVC</span>
                        </div> 

                        <div class="form-group col-md-7" [ngClass]="{'has-danger' : step.hasError && paymentForm.get('expirymonth').hasError('required'), 'has-success' : !paymentForm.get('expirymonth').hasError('required') }">
                            <label class="form-control-label">Expiry Month</label>
                            <select formControlName="expirymonth" class="form-control" [ngClass]="{'form-control-danger' : step.hasError && paymentForm.get('expirymonth').hasError('required'), 'form-control-success' : !paymentForm.get('expirymonth').hasError('required') }">
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                            <span class="help-block text-danger" *ngIf="step.hasError && paymentForm.get('expirymonth').hasError('required')">Expiry Month is required</span>                             
                        </div>

                        <div class="form-group col-md-7" [ngClass]="{'has-danger' : step.hasError && paymentForm.get('expiryyear').hasError('required'), 'has-success' : !paymentForm.get('expiryyear').hasError('required') }">
                            <label class="form-control-label">Expiry Year</label>
                            <select formControlName="expiryyear" class="form-control" [ngClass]="{'form-control-danger' : step.hasError && paymentForm.get('expiryyear').hasError('required'), 'form-control-success' : !paymentForm.get('expiryyear').hasError('required') }">
                                <option>2017</option>
                                <option>2018</option>
                                <option>2019</option>
                                <option>2020</option>
                                <option>2021</option>
                                <option>2022</option>
                                <option>2023</option>
                                <option>2024</option>
                            </select>
                            <span class="help-block text-danger" *ngIf="step.hasError && paymentForm.get('expiryyear').hasError('required')">Expiry Year is required</span>                             
                        </div>
                    </form>
                   
                    <div *ngIf="step.name=='Confirm Your Details'" class="row">
                        <div class="col-2"><strong class="text-truncate">Username</strong></div>
                        <div class="col-10"><i>{{details.username}}</i></div>
                        <div class="col-2"><strong class="text-truncate">Full Name</strong></div>
                        <div class="col-10"><i>{{details.fullname}}</i></div>
                        <div class="col-2"><strong class="text-truncate">Gender</strong></div>
                        <div class="col-10"><i>{{details.gender}} &nbsp;</i></div>
                        <div class="col-2"><strong class="text-truncate">Contact Email</strong></div>
                        <div class="col-10"><i>{{details.email}}</i></div>
                        <div class="col-2"><strong class="text-truncate">Phone NO.</strong></div>
                        <div class="col-10"><i>{{details.phone}}</i></div>
                        <div class="col-2"><strong class="text-truncate">Address</strong></div>
                        <div class="col-10"><i>{{details.address}} &nbsp;</i></div>
                        <div class="col-2"><strong class="text-truncate">Country</strong></div>
                        <div class="col-10"><i>{{details.country}}</i></div>
                        <div class="col-2"><strong class="text-truncate">Zip Code</strong></div>
                        <div class="col-10"><i>{{details.zipcode}}</i></div>
                        <div class="col-2"><strong class="text-truncate">Card Type</strong></div>
                        <div class="col-10"><i>{{details.cardtype}}</i></div>
                        <div class="col-2"><strong class="text-truncate">Card Number</strong></div>
                        <div class="col-10"><i>{{details.cardnumber}}</i></div>
                    </div>

                </div> 

                <div class="row"> 
                    <div class="col-12">
                        <button class="btn btn-primary pull-left" (click)="prev()"><i class="fa fa-chevron-left arrow"></i>&nbsp; Prev Step</button>
                        <button *ngIf="!steps[steps.length-1].active" class="btn btn-primary pull-right" (click)="next()">Next Step &nbsp;<i class="fa fa-chevron-right arrow"></i></button>
                        <button *ngIf="steps[steps.length-1].active" class="btn btn-primary pull-right" (click)="confirm()">Confirm &nbsp;<i class="fa fa-check arrow"></i></button>
                    </div> 
                </div>         

            </div>
        </div>
    </div>
</div>