@import "././../../theme/styles/variables";

.step{
    text-align: center;
    &:before, &:after{
        content: '';
        position: absolute;        
        background-color: $gray-light;
        top: 0;
        margin-top: 23px;        
        width: 50%;
        height: 5px;
        border-top: 1px solid $gray;
        border-bottom: 1px solid $gray;        
    }
    &:before{
        left: 0;
    }
    &:after{
        right: 0;
    }
    &:first-child:before {
        display: none; 
    }
    &.last:after{
        display: none; 
    }
    .step-icon{
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        background: $gray-light;
        border: 1px solid $gray;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 0 auto;
        i{
            margin: 0 auto;
            font-size: 20px;
            color: $gray;
        }
    }
    &.active{
        &:before, &:after{
            background: $danger-color;
            border:none;
        }
        .step-icon{
            background: $danger-color;
            border:none;
            i{
                color: $default-color; 
            }
        }
    }
    &.valid{
        &:before, &:after{
            background: $success-color;
            border:none;
        }
        .step-icon{
            background: $success-color;
            border:none;
            i{
                color: $default-color; 
            }
        }
    }
    .step-name{
        display: block;
        margin-top: 14px;
        color: $gray;
        &.active{
            color: $danger-color;
        }
        &.valid{
            color: $success-color;
        }
    }
}

.form-wizard{  
    margin-top:25px;
    margin-bottom: 20px;
    background: $body-bg-color;
    padding-top: 15px; 
    min-height: 400px;   
    .form-title{
        margin-bottom: 15px;
        color: $gray;
        border-bottom: 1px solid $gray-light;
        padding: 0 15px;
    }
    .form-control-label{
        color: $text-color !important;
    }
    .help-block{
        position: absolute;
        font-size: 11px;
    }
}

.arrow{
    font-size: 12px;
}


@media (max-width: 767px) { 
    .step{
        margin-bottom: 10px;
        text-align: left;
        .step-icon{
            float: left;
            margin-right: 15px;
        }
        &:before, &:after{
            content: none;
        }
    }  
}

