<div class="top-header-thumb">
    <div class="top-header-bg">
        <!-- <button class="camera" (click)="uploadbg()"></button> -->

    </div>
    <div class="profile-section">
        <div class="userimg">
            <a href="javascript:void(0)" class="author-thumb">
                <img src="../../../../assets/img/user1.jpg" />
            </a>
            <div class="author-content">
                <a href="javascript:void(0)" class="author-name">
                    Assist Kisan
                </a>
                <!-- <div class="country">Madhubani Bihar </div> -->
            </div>
        </div>
        <ul class="account-setting">
            <li>
                <a href="javascript:void(0)" class="a-setting"><i class="fa fa-sliders"></i></a>
                <ul class="more-dropdown more-with-triangle triangle-bottom-right">
                    <li>
                        <a href="#" data-toggle="modal" data-target="#update-header-photo">Update Profile Photo</a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#update-header-photo">Update Header Photo</a>
                    </li>
                    <li>
                        <a href="#">Account Settings</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)" class="a-setting bg-purple"><i class="fa fa-user"></i></a>
                <ul class="more-dropdown more-with-triangle triangle-bottom-right">
                    <li>
                        <a href="javascript:void(0)" routerLink="/pages/settings/groups" routerLinkActive="active">Group</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" routerLink="/pages/settings/companydetails" routerLinkActive="active">Company Details</a>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- <ul class="timeline">
            <li>
                <a routerLink="/pages/settings/timeline" routerLinkActive="active">Timeline</a>
            </li>
            <li>
                <a href="/pages/settings/aboutus" routerLinkActive="active">About Us</a>
            </li>
            <li>
                <a href="/pages/settings/members" routerLinkActive="active">Friends</a>
            </li>
            <li>
                <a href="/pages/settings/extrainfo" routerLinkActive="active">Photo</a>
            </li>
        </ul>
           -->
    </div>
    
</div>
