// @import "../../../../assets/css/login-6";
// @import "../../../../assets/css/vendors.bundle";
// @import "../../../../assets/css/style.bundle.scss";
.author-name{
  font-size: 1.4em;
}
.top-header-bg{
    background: url('../../../../assets/img/akheader.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    height: 370px;
    background-position: center;
    position: relative;
  }
  .camera{
    background: url('../../../../assets/img/camera.png');
    width: 60px;
      height: 50px;
      -webkit-background-size: cover;
    background-size: cover;
      border: none;
  }
  
  .profile-section{
    position: relative;
      padding: 38px 0;
      background: #ffffff;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
      margin-bottom: 10px;
  
      .timeline{
        padding: 0px;
        margin: 0;
        li{
          display: inline-block;
          padding-left: 15px;
          a{
            color: #9a9fbf;
            font-weight: 600;
          }
          .active{
            color: #7a7c8a;
          }
        }
       
      }
  
      .userimg{
        position: absolute;
          top: -80px;
          left: 0;
          right: 0;
          margin: 0 auto;
          text-align: center;
          width: 200px;
          .author-thumb{
                  border-radius: 100%;
                  border: 6px solid #fff;
                  margin: 0 auto;
                  overflow: hidden;
                  width: 120px;
                  height: 120px;
                  background-color: #FDFBEE;
                  display: block;
                  border-radius: 100%;
          }
      }
      .account-setting{
        position: absolute;
        right: 20px;
        top: -20px;
  
        li{
          display: inline-block;
          position: relative;
          margin-left: 10px;
         
          .more-dropdown {
            display: block;
            position: absolute;
            top: auto;
            bottom: 100%;
            right: 0;
            width: 180px;
            box-shadow: 0 0 34px 0 rgba(63, 66, 87, 0.1);
            background-color: #fff;
            border-radius: 4px;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s linear 0.3s, opacity 0.3s linear;
            text-align: left;
            padding: 15px 10px;
            z-index: 999;
            li{
              display: block;
              a{
                color: #222222;
                width: 100%;
                height: auto;
                border-radius: 0%;
                line-height: normal;
                text-align: left;
                padding: 10px 0;
              }
            }
        }
          a{
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            line-height: 40px;
            text-align: center;
            color: #ffffff;
          }
          .a-setting{
            background: #ff5e3a;
          }
          .bg-purple {
            background-color: #7c5ac2;
        }
        .active{
          color: #7c5ac2;
        }
        }
      }
  }
  
  .account-setting li:hover .more-dropdown{
    visibility: visible !important;
    opacity: 1 !important;
    transition-delay: 0s !important;
  }
  .more-with-triangle:before {
    position: absolute;
    display: inline-block;
    content: '';
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    top: auto;
      bottom: -7px;
      right: 15px;
      border-top: 7px solid #fff;
  }
 