@import "../../../theme/styles/variables";

.step{
    text-align: center;
    &:before, &:after{
        content: '';
        position: absolute;        
        background-color: $gray-light;
        top: 0;
        margin-top: 23px;        
        width: 50%;
        height: 5px;
        border-top: 1px solid $gray;
        border-bottom: 1px solid $gray;        
    }
    &:before{
        left: 0;
    }
    &:after{
        right: 0;
    }
    &:first-child:before {
        display: none; 
    }
    &.last:after{
        display: none; 
    }
    .step-icon{
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        background: $gray-light;
        border: 1px solid $gray;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 0 auto;
        i{
            margin: 0 auto;
            font-size: 20px;
            color: $gray;
        }
    }
    &.active{
        &:before, &:after{
            background: $danger-color;
            border:none;
        }
        .step-icon{
            background: $danger-color;
            border:none;
            i{
                color: $default-color; 
            }
        }
    }
    &.valid{
        &:before, &:after{
            background: $success-color;
            border:none;
        }
        .step-icon{
            background: $success-color;
            border:none;
            i{
                color: $default-color; 
            }
        }
    }
    .step-name{
        display: block;
        margin-top: 14px;
        color: $gray;
        &.active{
            color: $danger-color;
        }
        &.valid{
            color: $success-color;
        }
    }
}

.form-wizard{  
    margin-top:25px;
    margin-bottom: 20px;
    background: $body-bg-color;
    padding-top: 15px; 
    min-height: 400px;   
    .form-title{
        margin-bottom: 15px;
        color: $gray;
        border-bottom: 1px solid $gray-light;
        padding: 0 15px;
    }
    .form-control-label{
        color: $text-color !important;
    }
    .help-block{
        position: absolute;
        font-size: 11px;
    }
}

.arrow{
    font-size: 12px;
}


@media (max-width: 767px) { 
    .step{
        margin-bottom: 10px;
        text-align: left;
        .step-icon{
            float: left;
            margin-right: 15px;
        }
        &:before, &:after{
            content: none;
        }
    }  
}

.form-title h4{
    font-size: 18px;
    display: block;
    width: 100%;
    background: #f12857;
    color: #fff;
    padding: 10px;
}
.payment-ui{
    padding: 0;
}
.payment-ui li {
    display: inline-block;
    width: 33%;
    background: #5c62b1;
    padding: 10px 25px;
    border: 1px solid #e3abe6;
    color: #fff;
}
.payment-ui li.active{
    background: #f32e2e;
    border: 1px solid #f32e2e;
    color: #ffffff;
}
.payment-ui li:first-child{
    border-radius: 15px 0 0 15px;
}
.payment-ui li:last-child{
    border-radius: 0px 15px 15px 0px;
}
.step-icon i{
    margin-right: 6px;
}
.btn{
    border-radius: 20px;
    font-size: 13px;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Upload Image';
    display: inline-block;
   // background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    padding: 9px 8px;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 9pt;
    background: #346e9f;
    height: 100%;
    color: #fff;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
.custom-file-input{
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin: 0;
    opacity: 1;
    padding: 0;
  }