<div class="row datamap">
    <div class="col-xl-9 col-lg-8 col-12">
        <h3 class="text-center">All Users</h3>  
       
        <div class="stats text-center d-sm-block d-none">
            <div class="custom-control custom-radio custom-control-inline">
                <input id="radio1" type="radio" name="radio" class="custom-control-input radio-primary">
                <label class="custom-control-label" for="radio1">Active users: 2 180 520 000</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input id="radio2" type="radio" name="radio" class="custom-control-input radio-info">
                <label class="custom-control-label" for="radio2">Passive users: 758 022 010</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input id="radio3" type="radio" name="radio" class="custom-control-input radio-danger">
                <label class="custom-control-label" for="radio3">Blocked users: 125 000</label>
            </div>
        </div>

        <div id="datamap"></div> 
    </div>   
    <div class="col-xl-3 col-lg-4 col-12 bottom-15"> 
            
        <div class="text-center pull-lg-none pull-left col-4 col-lg-12 year-control">
             <p>Select year</p>
             <input type="text" class="dial" data-cursor="true">
             <p>Map statistics</p>
        </div> 
        <div class="pull-lg-none pull-right col-8 col-lg-12">
            <h6>More than 50M <span class="pull-right badge badge-pill badge-success">65%</span></h6>
            <div class="progress">
                <div progress-animate class="progress-bar bg-success" role="progressbar" style="width: 65%"  aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h6>Between 10M and 50M <span class="pull-right badge badge-pill badge-primary">25%</span></h6>
            <div class="progress">
                <div progress-animate class="progress-bar bg-primary" role="progressbar" style="width: 25%"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h6>Between 5M and 10M <span class="pull-right badge badge-pill badge-warning">75%</span></h6>
            <div class="progress">
                <div progress-animate class="progress-bar bg-warning" role="progressbar" style="width: 75%"  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h6>Between 1M and 5M <span class="pull-right badge badge-pill badge-danger">18%</span></h6>
            <div class="progress">
                <div progress-animate class="progress-bar bg-danger" role="progressbar" style="width: 18%"  aria-valuenow="18" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h6>Less than 1M <span class="pull-right badge badge-pill badge-info">70%</span></h6>
            <div class="progress">
                <div progress-animate class="progress-bar bg-info" role="progressbar" style="width: 70%"  aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        
    </div>
</div>