
///@at-root
.author-name{
	font-size: 1.4em;
}
.ui-block {
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #e6ecf5;
	margin-bottom: 15px;
  }
  .ui-block-title {
	padding: 15px;
	line-height: 1;
	border-bottom: 1px solid #e6ecf5;
	border-top: 1px solid #e6ecf5;
	display: table;
	width: 100%;
	position: relative;
	border-radius: 5px 5px 0 0;
  }
  .ui-block-title:first-child {
	border-top: none;
  }
  .ui-block-title .more {
	padding-left: 25px;
	text-align: right;
	width: 16px;
  }
  .more {
	position: relative;
	transition: all .3s ease;
	color: #888da8;
	fill: #c0c4d8;
  }
  .ui-block-content {
	padding: 10px;
  }
  .w-personal-info {
	margin-bottom: 0;
	padding: 0;
  }
  .w-personal-info li {
	padding:0 0 15px 0;
	clear: both;
	display: inline-block;
	width: 100%;
  }
  .w-personal-info li .title {
	color: #515365;
	font-weight: 500;
	margin-right: 10px;
  }
  .w-personal-info li .text {
	color: #888da8;
	display: block;
	overflow: hidden;
  }
  .w-personal-info.item-block .title {
	margin-right: 0;
	float: none;
	width: 100%;
	margin-bottom: 10px;
	display: inline-block;
  }
  .w-personal-info li .text {
	color: #888da8;
	display: block;
	float: left;
	width: 100%;
  }