<nav class="nav az-navbar fixed-top">
    <a class="navbar-brand" routerLink="/" (click)="closeSubMenus()">
        <img src="assets/img/logo/az_logo_full.png" alt="" class="d-md-block d-none">
        <img src="assets/img/logo/az_logo.png" alt="" class="d-md-none">
    </a>
    <div id="lines" class="transition" (click)="toggleMenu()"></div>
    <div id="google_translate_element"></div>
    <form role="search" class="app-search d-md-block d-none">
        <input type="text" placeholder="Search..." class="form-control">
        <a href="javascript:void(0)"><i class="fa fa-search"></i></a>
    </form>
       <ul class="nav right-section">
        <li class="nav-item"> 
           
            <div style="margin-top: 10px; margin-right: 20px;">
                    <select class="dropdown" id="ddllId" (change)="changeLang($event.target.value)">
                            <option  class="dropdown-item" *ngFor="let l of ddlanguage" value={{l.culture}}>
                                    {{l.name}}
                            </option>
                    </select>
                    <!-- <div class="translate">
                      <div id="google_translate_element">
                      <div dir="ltr" class="skiptranslate goog-te-gadget">
                      <div >
                      <select class="goog-te-combo">
                      <option value="">Select Language</option>
                      <option value="af">Afrikaans</option>
                      <option value="sq">Albanian</option>
                      <option value="ar">Arabic</option>
                      <option value="hy">Armenian</option>
                      <option value="az">Azerbaijani</option>
                      <option value="eu">Basque</option>
                      <option value="be">Belarusian</option>
                      <option value="bn">Bengali</option>
                      <option value="bg">Bulgarian</option>
                      <option value="ca">Catalan</option>
                      <option value="zh-CN">Chinese (Simplified)</option>
                      <option value="zh-TW">Chinese (Traditional)</option>
                      <option value="hr">Croatian</option>
                      <option value="cs">Czech</option>
                      <option value="da">Danish</option>
                      <option value="nl">Dutch</option>
                      <option value="eo">Esperanto</option>
                      <option value="et">Estonian</option>
                      <option value="tl">Filipino</option>
                      <option value="fi">Finnish</option>
                      <option value="fr">French</option>
                      <option value="gl">Galician</option>
                      <option value="ka">Georgian</option>
                      <option value="de">German</option>
                      <option value="el">Greek</option>
                      <option value="gu">Gujarati</option>
                      <option value="ht">Haitian Creole</option>
                      <option value="iw">Hebrew</option>
                      <option value="hi">Hindi</option>
                      <option value="hu">Hungarian</option>
                      <option value="is">Icelandic</option>
                      <option value="id">Indonesian</option>
                      <option value="ga">Irish</option>
                      <option value="it">Italian</option>
                      <option value="ja">Japanese</option>
                      <option value="kn">Kannada</option>
                      <option value="ko">Korean</option>
                      <option value="la">Latin</option>
                      <option value="lv">Latvian</option>
                      <option value="lt">Lithuanian</option>
                      <option value="mk">Macedonian</option>
                      <option value="ms">Malay</option>
                      <option value="mt">Maltese</option>
                      <option value="no">Norwegian</option>
                      <option value="fa">Persian</option>
                      <option value="pl">Polish</option>
                      <option value="pt">Portuguese</option>
                      <option value="ro">Romanian</option>
                      <option value="ru">Russian</option>
                      <option value="sr">Serbian</option>
                      <option value="sk">Slovak</option>
                      <option value="sl">Slovenian</option>
                      <option value="es">Spanish</option>
                      <option value="sw">Swahili</option>
                      <option value="sv">Swedish</option>
                      <option value="ta">Tamil</option>
                      <option value="te">Telugu</option>
                      <option value="th">Thai</option>
                      <option value="tr">Turkish</option>
                      <option value="uk">Ukrainian</option>
                      <option value="ur">Urdu</option>
                      <option value="vi">Vietnamese</option>
                      <option value="cy">Welsh</option>
                      <option value="yi">Yiddish</option>
                      </select>
                      </div>
                      </div>
                    </div>
                    </div> -->
                    
            </div>
        </li>
             <li class="nav-item">
            <az-messages></az-messages>
        </li>
        <li class="nav-item" >
            <div class="dropdown float-right user-menu">
                <a class="dropdown-toggle user-link" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                    <img src="assets/img/users/user.jpg" alt="user-img" class="img-circle user-img">
                    <!-- <span class="d-lg-inline d-none">{{logindata.first_Name | translate }}</span> -->
                </a>

                <ul class="dropdown-menu">
                    <li class="user-info">
                        <img src="assets/img/users/user.jpg" alt="user-img" class="img-circle user-img">
                        <p>
                            <!-- {{profiledata.name | translate }}-{{profiledata.typeName | translate }} -->
                            <small>Member since Dec. 2019</small>
                        </p>
                    </li>
                    <a class="dropdown-item" routerLink="/signup/wizard"><i class="fa fa-user"></i>Profile</a>
                    <a class="dropdown-item" routerLink="settings"><i class="fa fa-cog"></i>Settings</a>
                    <a class="dropdown-item" routerLink="/"><i class="fa fa-lock"></i>Lock screen</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/login"><i class="fa fa-power-off"></i>Log out</a>
                </ul>
            </div>
        </li>
    </ul>

</nav>