<div class="row">
  <div class="col-xl-9 col-lg-8 col-12">
    <h3 class="text-center">All Users</h3>  
       <div class="stats text-center d-sm-block d-none">
        <div class="custom-control custom-radio custom-control-inline">
            <input id="radio1" type="radio" name="radio" class="custom-control-input radio-primary">
            <label class="custom-control-label" for="radio1" style="background-color: green;" >Active users: 200</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input id="radio2" type="radio" name="radio" class="custom-control-input radio-info">
            <label class="custom-control-label" for="radio2" style="background-color: yellow;">Passive users: 150</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input id="radio3" type="radio" name="radio" class="custom-control-input radio-danger">
            <label class="custom-control-label" for="radio3" style="background-color: red;">Blocked users: 000</label>
        </div>
    </div>
</div>   
</div>
  <div class="dashboard-slider" >
    <owl-carousel [options]="{items: 3, dots: false, nav: true, loop:true, autoplay: true, autoplayHoverPause: true, responsive: { '0': {  items: 1, margin: 5 },
  '480': { items: 1,  margin: 5 }, '640': { items: 1, margin: 5 }}  }" [items]="images"
      [carouselClasses]="['owl-theme', 'row', 'sliding']" >
      <div class="item" *ngFor="let slider of totalRes">
        <img src="{{slider.image}}">
      </div>
     
    </owl-carousel>
  
</div>
 


<div class="row">

  <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 bottom-30">
    <div class="card small-info-box">
      <div class="media">
        <span class="media-left">
          <i class="fa fa-thumbs-o-up"></i>
        </span>
        <div class="media-body text-right">
          <h6 class="media-heading no-margin">LIKES</h6>
          <span counter [count]="21130" [increment]="4" [interval]="3"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 bottom-30">
    <div class="card small-info-box">
      <div class="media">
        <span class="media-left">
          <i class="fa fa-shopping-cart"></i>
        </span>
        <div class="media-body text-right">
          <h6 class="media-heading no-margin">SALES</h6>
          <span counter [count]="38225" [increment]="1" [interval]="5"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 bottom-30">
    <div class="card small-info-box">
      <div class="media">
        <span class="media-left">
          <i class="fa fa-comment-o"></i>
        </span>
        <div class="media-body text-right">
          <h6 class="media-heading no-margin">COMMENTS</h6>
          <span counter [count]="5423" [increment]="3" [interval]="2"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 bottom-30">
    <div class="card small-info-box">
      <div class="media">
        <span class="media-left">
          <i class="fa fa-download"></i>
        </span>
        <div class="media-body text-right">
          <h6 class="media-heading no-margin">DOWNLOADS</h6>
          <span counter [count]="1521" [increment]="1" [interval]="5"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 bottom-30">
    <div class="card small-info-box">
      <div class="media">
        <span class="media-left">
          <i class="fa fa-users"></i>
        </span>
        <div class="media-body text-right">
          <h6 class="media-heading no-margin">MEMBERS</h6>
          <span counter [count]="215985" [increment]="1" [interval]="6"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 bottom-30">
    <div class="card small-info-box">
      <div class="media">
        <span class="media-left">
          <i class="fa fa-money"></i>
        </span>
        <div class="media-body text-right">
          <h6 class="media-heading no-margin">PURCHASES</h6>
          <span counter [count]="7143" [increment]="1" [interval]="5"></span>
        </div>
      </div>
    </div>
  </div>



</div>

<div class="row">

  <div class="col-xl-3 col-lg-6 col-md-6 bottom-30">
    <div class="card card-primary text-center info-box">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <span class="info-box-icon">
              <i class="fa fa-globe"></i>
            </span>
          </div>
          <div class="col-9">
            <h6 class="no-margin">USERS GROWTH</h6>
            <h2>7,332</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="no-margin text-truncate">Registrations</p>
            <span>+1130</span>
          </div>
          <div class="col-6">
            <p class="no-margin text-truncate">Bounce Rate</p>
            <span>3.7%</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6 col-md-6 bottom-30">
    <div class="card card-danger text-center info-box">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <span class="info-box-icon">
              <i class="fa fa-user"></i>
            </span>
          </div>
          <div class="col-9">
            <div live-tile class="live-tile" data-mode="carousel" data-speed="750" data-delay="3000" data-height="58">
              <div>
                <h6 class="no-margin">VISITS TODAY</h6>
                <h2>12,324</h2>
              </div>
              <div>
                <h6 class="no-margin">VISITS YESTERDAY</h6>
                <h2>11,885</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="no-margin text-truncate">New Visitors</p>
            <div live-tile class="live-tile" data-mode="carousel" data-speed="750" data-delay="3000" data-height="21">
              <div>
                <span>1,332</span>
              </div>
              <div>
                <span>20.1%</span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <p class="no-margin text-truncate">Bounce Rate</p>
            <div live-tile class="live-tile" data-mode="carousel" data-speed="750" data-delay="3000" data-height="21">
              <div>
                <span>217</span>
              </div>
              <div>
                <span>2.3%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6 col-md-6 bottom-30">
    <div class="card card-warning text-center info-box">
      <div class="card-body">
        <div live-tile class="live-tile" data-mode="carousel" data-direction="horizontal" data-speed="750"
          data-delay="4000" data-height="93">
          <div>
            <div class="row">
              <div class="col-3">
                <span class="info-box-icon">
                  <i class="fa fa-globe"></i>
                </span>
              </div>
              <div class="col-9">
                <h6 class="no-margin">ORDERS</h6>
                <h2>82,765</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <h6 class="no-margin text-truncate">Avg. Time</h6>
                <span>2:56</span>
              </div>
              <div class="col-6">
                <h6 class="no-margin text-truncate">Last Week</h6>
                <span>374</span>
              </div>
            </div>
          </div>
          <div>
            <div class="row">
              <div class="col-3">
                <span class="info-box-icon">
                  <i class="fa fa-certificate"></i>
                </span>
              </div>
              <div class="col-9">
                <h6 class="no-margin">PICKED ORDERS</h6>
                <h2>13.8%</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <h6 class="no-margin text-truncate">Basic</h6>
                <span>3,692</span>
              </div>
              <div class="col-6">
                <h6 class="no-margin text-truncate">Advanced</h6>
                <span>1,441</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6 col-md-6 bottom-30">
    <div class="card card-success text-center info-box">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <span class="info-box-icon">
              <i class="fa fa-usd"></i>
            </span>
          </div>
          <div class="col-9">
            <h6 class="no-margin">TOTAL PROFIT</h6>
            <h2>$9,448</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="no-margin text-truncate">Last Month</p>
            <span>$83,541</span>
          </div>
          <div class="col-6">
            <p class="no-margin text-truncate">Last Week</p>
            <span>$17,926</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- chat box start-->
<div class="liveChatBox">
  <div class="liveChatWindow" *ngIf="showHide">
    <div class="LiveChatWindow__content">
      <div class="LiveChatTabs" [ngSwitch]="viewMode">
        <div class="liveChatWindow_slide" [class.liveShowChat]="viewMode == 'tab1'">
          <div class="liveChatWindow__header">
            <div class="chatHeaderTitle">
              Billing
            </div>
          </div>
          <div class="liveChatCallback">
            <form class="liveChatCallback__form" [formGroup]="form" [class.collapseForm]="collapseform == 'yes'">
              <p class="liveChatTitle">Have questions regarding product selection?
                We will gladly help you in choosing the most suitable product for you.</p>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" formControlName="fullname" name="fullname" />
                <div style="color: #f02;">
                  *First Name is Required
                </div>
              </div>
              <div class="form-group">
                <input type="url" class="form-control" placeholder="Email Address" name="email" formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" >
                <!-- <div *ngIf="form.controls.email.errors?.required && form.controls.email.touched" style="color: #f02;">
                  *Email Address is Required
                </div> -->
                <div  style="color: #f02;">
                  *Email Address is Required
                </div>
              </div>
              <button type="submit" class="btn button_TMButton" [disabled]="!form.valid" (ngSubmit)="onChatForm(form)"
               (click)="collapseform = 'yes'">
                <i class="fa fa-comments-o"></i> Start Chat
              </button>
          
              <p class="chat-footer">
                <small>
                  By clicking the button, you agree to the <a href="javascript:void(0)">Privacy Policy</a> and
                  <a href="javascript:void(0)">Terms of Use</a>
                </small>
              </p>
            </form>
            <div class="liveChatContent" [class.chatBox]="collapseform == 'yes'">
             <form [formGroup]="chatForm" (ngSubmit)="onChatForm(chatForm)">
               <div class="liveChatField">
                 <div class="liveChatInput">
                   <div contenteditable="true" class="chat-control" id="myChatBx" formControlName="chatContent" name="chatContent"></div>
                   <button type="submit" class="">
                     <i class="fa fa-paper-plane"></i>
                   </button>
                 </div>
               </div>
             </form>
            </div>
          </div>
        </div>
         <!--  -->
         <div class="liveChatWindow_slide" [class.liveShowChat]="viewMode == 'tab2'">
          <div class="liveChatWindow__header">
            <div class="chatHeaderTitle">
              Support
            </div>
          </div>
          <div class="liveChatCallback">
            <form class="liveChatCallback__form">
              <p class="liveChatTitle">Have questions regarding product selection?
                We will gladly help you in choosing the most suitable product for you.</p>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" />
              </div>
              <div class="form-group">
                <input type="url" class="form-control" placeholder="Email Address" />
              </div>
              <button type="submit" class="btn button_TMButton" name="chat">
                <i class="fa fa-comments-o"></i> Start Chat
              </button>
              <p class="chat-footer">
                <small>
                  By clicking the button, you agree to the <a href="javascript:void(0)">Privacy Policy</a> and
                  <a href="javascript:void(0)">Terms of Use</a>
                </small>
              </p>
            </form>
          </div>
        </div>
        <!--  -->
        
      <div class="liveChatWindow_slide" [class.liveShowChat]="viewMode == 'tab3'">
        <div class="liveChatWindow__header">
          <div class="chatHeaderTitle">
            Pre-Sale
          </div>
        </div>
        <div class="liveChatCallback">
          <form class="liveChatCallback__form">
            <p class="liveChatTitle">Have questions regarding product selection?
              We will gladly help you in choosing the most suitable product for you.</p>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Name" />
            </div>
            <div class="form-group">
              <input type="url" class="form-control" placeholder="Email Address" />
            </div>
            <button type="submit" class="btn button_TMButton" name="chat">
              <i class="fa fa-comments-o"></i> Start Chat
            </button>
            <p class="chat-footer">
              <small>
                By clicking the button, you agree to the <a href="javascript:void(0)">Privacy Policy</a> and
                <a href="javascript:void(0)">Terms of Use</a>
              </small>
            </p>
          </form>
        </div>
      </div>
      </div>
     
    </div>
    <div class="liveChatWindow__navigation">
      <button class="liveChat_hide" type="button" (click)="showLiveChat()"><i class="fa fa-chevron-down"></i></button>
      <div class="liveChat_switchers">
        <ul>
          <li [class.active]="viewMode == 'tab1'" rel="tab1" (click)="viewMode ='tab1'">
            <button type="button" class="liveChat_switcher" id="billingsBtn" (click)="billing()">
              <svg height="30px" viewBox="0 -18 482.9 482" width="30px" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="m472.800781 222.027344h-26.300781v-77c-.015625-5.519532-4.484375-9.984375-10-10h-40.699219v-65.5c-.023437-19.324219-15.679687-34.980469-35-35h-131.5l-25.101562-25.203125c-6.140625-6.199219-14.679688-9.4140628-23.382813-8.800781-8.707031.617187-16.710937 5-21.917968 12.003906l-16.296876 22h-82.601562c-33.125.023437-59.9726562 26.871094-60 60v291c.0273438 33.125 26.875 59.972656 60 60h377.101562c5.515626-.019532 9.984376-4.484375 10-10v-80h25.796876c5.519531-.019532 9.984374-4.484375 10-10v-113.5c-.0625-5.539063-4.5625-9.992188-10.097657-10zm-112-167.5c3.980469-.007813 7.796875 1.570312 10.613281 4.386718 2.8125 2.8125 4.390626 6.632813 4.386719 10.613282v65.5h-46.402343l-80.097657-80.5zm-185.902343-30c1.738281-2.332032 4.402343-3.789063 7.300781-4 2.898437-.210938 5.746093.84375 7.800781 2.898437l111.101562 111.601563h-208.203124zm-154.898438 70c-.007812-22.097656 17.90625-40.007813 40-40h67.800781l-59.800781 80.5h-8c-22.09375.003906-40.007812-17.90625-40-40zm407 331h-367c-22.09375.003906-40.007812-17.90625-40-40v-245.800782c10.984375 9.871094 25.234375 15.320313 40 15.300782h263.101562c1.640626.398437 3.355469.398437 5 0h98.5v67h-56.601562c-27.609375.007812-49.988281 22.386718-50 50v33.597656c.011719 27.609375 22.390625 49.992188 50 50h57.101562v69.902344zm35.800781-89.902344h-92.902343c-16.546876-.046875-29.949219-13.449219-30-30v-33.597656c.050781-16.550782 13.453124-29.953125 30-30h63.5c2.015624.664062 4.1875.664062 6.203124 0h23.199219zm0 0" />
                <path
                  d="m379.898438 262.027344c-5.515626.015625-9.984376 4.480468-10 10v33.597656c0 5.523438 4.480468 10 10 10 5.523437 0 10-4.476562 10-10v-33.597656c.011718-2.65625-1.039063-5.207032-2.917969-7.082032-1.875-1.878906-4.425781-2.929687-7.082031-2.917968zm0 0" />
                </svg>
            </button>
          </li>
          <li [class.active]="viewMode == 'tab2'" rel="tab2" (click)="viewMode = 'tab2'">
            <button type="button" class="liveChat_switcher">
              <svg height="30px" viewBox="0 0 512.00003 512.00003" width="30px" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="m256 0c-107.941406 0-195.765625 87.824219-195.765625 195.765625v180.703125c0 24.914062 20.265625 45.179688 45.175781 45.179688 24.914063 0 45.179688-20.265626 45.179688-45.179688v-150.585938c0-24.910156-20.265625-45.175781-45.179688-45.175781-5.070312 0-9.867187 1.027344-14.425781 2.574219 6.425781-85.511719 77.902344-153.164062 165.015625-153.164062 87.066406 0 158.523438 67.589843 165.007812 153.042968-4.53125-1.550781-9.355468-2.453125-14.417968-2.453125-24.914063 0-45.179688 20.265625-45.179688 45.175781v150.585938c0 24.914062 20.265625 45.179688 45.179688 45.179688 5.304687 0 10.324218-1.085938 15.058594-2.773438v17.832031c0 8.308594-6.765626 15.058594-15.058594 15.058594h-108.1875c-6.238282-17.492187-22.796875-30.117187-42.402344-30.117187-24.910156 0-45.175781 20.265624-45.175781 45.175781 0 24.910156 20.265625 45.175781 45.175781 45.175781 19.605469 0 36.164062-12.628906 42.402344-30.117188h108.1875c24.910156 0 45.175781-20.265624 45.175781-45.175781 0-90.578125 0-150.265625 0-240.941406 0-107.941406-87.824219-195.765625-195.765625-195.765625zm0 0" />
                <path
                  d="m481.882812 213.597656v175.15625c17.488282-6.234375 30.117188-22.792968 30.117188-42.402344v-90.351562c0-19.605469-12.628906-36.164062-30.117188-42.402344zm0 0" />
                <path
                  d="m0 256v90.351562c0 19.609376 12.628906 36.167969 30.117188 42.402344v-175.15625c-17.488282 6.238282-30.117188 22.796875-30.117188 42.402344zm0 0" />
                </svg>
            </button>
          </li>
          <li [class.active]="viewMode == 'tab3'" rel="tab3" (click)="viewMode = 'tab3'">
            <button type="button" class="liveChat_switcher">
              <svg height="30px" viewBox="-24 0 511 511.997" width="30px" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="m452.707031 267.480469c-23.527343-23.421875-50.726562-1.5-50.726562-1.5v-123.300781c0-4.140626-3.355469-7.5-7.496094-7.5-4.144531 0-7.5 3.359374-7.5 7.5v133.851562s-35.761719 28.191406-51.132813 35.082031v-222.007812c0-10.320313 8.394532-18.714844 18.714844-18.714844h13.703125c10.320313 0 18.714844 8.394531 18.714844 18.714844v22.371093c0 4.144532 3.355469 7.5 7.5 7.5 4.140625 0 7.496094-3.355468 7.496094-7.5v-22.371093c0-18.589844-15.121094-33.710938-33.710938-33.710938h-13.703125c-18.589844 0-33.714844 15.121094-33.714844 33.710938v227.953125c-4.472656 1.253906-9.0625 2.105468-13.726562 2.554687v-158.113281c0-18.683594-15.199219-33.882812-33.878906-33.882812h-13.371094c-18.679688 0-33.878906 15.199218-33.878906 33.882812v76.414062l-13.730469 7.289063v-25.429687c0-16.820313-13.683594-30.503907-30.5-30.503907h-20.125c-16.820313 0-30.5 13.683594-30.5 30.503907v68.492187l-24.488281 12.996094-68.765625 19.652343c-11.964844 3.417969-21.957031 11.253907-28.128907 22.058594-6.175781 10.808594-7.851562 23.394532-4.71875 35.4375l7.691407 29.59375c1.039062 4.007813 5.132812 6.410156 9.144531 5.371094 4.007812-1.042969 6.414062-5.136719 5.371094-9.148438l-7.691406-29.589843c-4.460938-17.164063 5.402343-34.429688 22.457031-39.300781l62.871093-17.96875 47.253907 126.117187c3.164062 8.445313 2.664062 32.539063-22.332031 41.417969l-47.511719 10.792968c-16.558594 3.757813-32.875-6.167968-37.148438-22.605468l-9.644531-37.113282c-1.042969-4.007812-5.136719-6.414062-9.144531-5.375-4.011719 1.042969-6.414063 5.136719-5.375 9.148438l9.648437 37.117188c5.421875 20.851562 23.945313 34.628906 44.566406 34.628906 15.152344 0 57.933594-11.96875 57.933594-11.96875 13.019532-2.953125 24.121094-11.390625 30.453125-23.140625 5.226563-9.695313 6.777344-20.851563 4.535157-31.480469l164.375-40.242188c13.59375-3.332031 26.5-9.789062 37.3125-18.675781l79.992187-65.726562c24.386719-21.628907 10.082031-46.144531 2.910156-53.28125zm-192.832031-124.363281h13.371094c10.410156 0 18.878906 8.472656 18.878906 18.882812v158.488281l-47.324219-.019531c-4.347656-.039062-1.339843-2.910156-1.101562-3.105469l13.628906-11.039062c12.714844-10.300781 21.019531-24.621094 24.679687-42.570313 2.324219-11.386718-2.019531-22.785156-11.328124-29.746094-8.695313-6.5-19.878907-7.75-29.683594-3.453124v-68.554688c0-10.410156 8.46875-18.882812 18.878906-18.882812zm-113.734375 77.15625c0-8.546876 6.953125-15.503907 15.5-15.503907h20.125c8.546875 0 15.503906 6.957031 15.503906 15.503907v33.390624l-51.132812 27.140626v-60.53125zm294.136719 88.902343-79.996094 65.726563c-9.085938 7.46875-19.929688 12.894531-31.355469 15.691406l-165.585937 40.542969-44.53125-118.839844 127.148437-67.492187c5.167969-2.746094 11.054688-2.289063 15.738281 1.214843 4.683594 3.503907 6.785157 9.011719 5.617188 14.738281-2.949219 14.449219-9.484375 25.859376-19.425781 33.910157l-13.628907 11.042969c-5.585937 4.523437-7.644531 11.824218-5.246093 18.601562 2.398437 6.773438 8.59375 11.15625 15.78125 11.15625l54.644531.023438h.039062c19.453126 0 38.148438-5.914063 54.0625-17.105469l61.070313-42.945313c8.550781-6.015625 20.0625-4.953125 27.367187 2.523438 4.207032 4.296875 12.441407 17.066406-1.699218 31.210937zm0 0" />
                <path
                  d="m123.414062 448.789062c0-16.292968-13.253906-29.550781-29.546874-29.550781-16.292969 0-29.546876 13.257813-29.546876 29.550781 0 16.289063 13.253907 29.546876 29.546876 29.546876 16.292968 0 29.546874-13.257813 29.546874-29.546876zm-44.09375 0c0-8.023437 6.523438-14.550781 14.546876-14.550781 8.019531 0 14.546874 6.527344 14.546874 14.550781 0 8.019532-6.523437 14.546876-14.546874 14.546876-8.023438 0-14.546876-6.527344-14.546876-14.546876zm0 0" />
                <path
                  d="m39.933594 235.480469 109.023437-109.863281 24.523438 12.683593c8.785156 4.542969 19.476562 2.988281 26.601562-3.871093l59.34375-57.125s-1.632812 29.339843 23.074219 29.339843c12.71875 0 23.070312-10.351562 23.070312-23.074219v-60.5c0-.070312-.003906-.144531-.003906-.21875-.082031-15.785156-11.625-22.851562-23.066406-22.851562h-59.972656c-12.722656 0-23.070313 10.351562-23.070313 23.070312 0 25.359376 25.808594 23.070313 25.808594 23.070313l-45.273437 43.578125-24.878907-12.867188c-8.996093-4.65625-19.835937-2.949218-26.976562 4.238282l-120.953125 121.886718c-8.960938 9.03125-8.90625 23.667969.125 32.628907 4.351562 4.316406 19.210937 13.289062 32.625-.125zm-22.105469-21.9375 120.953125-121.886719c1.5625-1.570312 4.070312-4.320312 9.441406-1.480469l29.652344 15.335938c2.855469 1.476562 6.332031.972656 8.648438-1.257813l62.546874-60.207031c2.203126-2.121094 2.898438-5.371094 1.753907-8.207031-1.144531-2.839844-3.894531-4.695313-6.957031-4.695313h-21.339844c-4.449219 0-8.070313-3.621093-8.070313-8.074219 0-4.449218 3.621094-8.070312 8.070313-8.070312h59.972656c2.207031 0 8.066406 0 8.066406 8.023438 0 .066406.003906.132812.003906.203124v60.34375c0 4.449219-3.621093 8.070313-8.070312 8.070313-4.453125 0-8.074219-3.621094-8.074219-8.070313v-23.894531c0-3.007812-1.796875-5.726562-4.5625-6.902343-2.765625-1.179688-5.96875-.585938-8.136719 1.5l-72.046874 69.351562c-2.492188 2.398438-6.234376 2.945312-9.304688 1.355469l-29.414062-15.214844c-2.910157-1.503906-6.460938-.945313-8.769532 1.378906l-112.902344 113.769531c-4.921874 4.921876-9.894531 1.554688-11.417968.042969-3.15625-3.136719-3.175782-8.257812-.042969-11.414062zm0 0" />
                </svg>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <button type="button" class="LiveChatAvatar" (click)="showLiveChat()">
    <img src="../../../assets/img/support.jpg" alt="user" />
  </button>
</div>
<!-- chat box end -->
