@import "../../theme/styles/variables";
// @import "../../../../node_modules/bootstrap/scss/_variables";
// @import "../../../../node_modules/bootstrap/scss/mixins";

.info-box{    
    color: $default-color;
    .card-block{
        padding: 1rem;
    }
    .info-box-icon{
        display: flex;
        font-size: 50px;
        opacity: 0.9;
    }
    h2, h6, span, p{
        font-weight: $font-light;
        letter-spacing: 0.03em;
    }
    h6{
        white-space: nowrap;
        font-size: 14px;
    }
    p{
        font-size: 14px;
        line-height: 1;
    }
}

.small-info-box{
    padding: 8px;
    color: $default-color;
    background-color: $info-color;
    div.media{
        align-items: center;
    }
    i{
        font-size: 28px;
    }
    h6, span{
        font-weight: $font-normal;
    }
    h6{
        font-size: 14px;
    }
}

.user-info-box{
    color: #fff;   
    .card-body{
        padding: 3px;
        img{
            width: 84px;
        }
        h6{
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: 300;
        }
        a{
            font-size: 20px;
            color: $default-color;
        }
    }
}


.live-tile{
    margin: 0;
    width: 100%;
    color: inherit;    
}


.weather{
    img{
        width: auto !important;
    }
    h2, p{
        font-weight: 300;
        color: $default-color;
    }
    span{
        color: $default-color;
    }
    .current-temperature{
        font-size: 70px;
        color: $default-color;
        display: inline-block;
    }
    .degree{
        color: $default-color;
        display: inline-block;
        vertical-align: top;
        margin-top: 20px;
        font-size: 20px;
    }
    .card-body{
        padding: 0;
        canvas{
            display: inline-block;
            vertical-align: middle;
        }
    }
    .line{
        padding: 5px 15px;
        border-bottom: 1px solid rgba($main-color,0.2);        
        &:last-child{
            border:none;
        }
    }
}


 
.liveChatBox{
  position: fixed;
  z-index: 1;
  right: 10px;
  bottom: 10px;
  transform: translateZ(0);
  z-index: 99999;
}
.LiveChatAvatar{
  opacity: 1;
  transform: translateY(0);
  padding: 0;
  border: none;
  margin: 0 10px 10px 0;
}
.LiveChatAvatar img{
  width: 60px;
  height: 60px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);}}

.liveChatWindow{
width: 400px;
height: 400px;
box-shadow: 0 20px 40px rgba(36,50,56,0.15);
border-radius: 3px;
overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
transform-origin: 400px 400px;
}
.LiveChatWindow__content{
width: 320px;
  box-shadow: 5px 4px 10px rgba(0,0,0,0.05);
  z-index: 1;
  visibility: visible;
  height: 400px;
  float: left;
  overflow: hidden;
  position: relative;
}
.liveChatWindow__navigation{
width: 80px;
height: 100%;
background: linear-gradient(180deg,#edffd4,#23ff95);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 80px;
}
.liveChat_hide{
box-sizing: initial;
  box-shadow: none;
  background: none repeat scroll 0 0 transparent;
  border: none;
  border-spacing: 0;
  list-style: none outside none;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  outline: none;
  display: inline-block;
  vertical-align: middle;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 40px;
  position: relative;
}
.liveChat_switchers{
display: flex;
  flex-direction: column;
  position: relative;
}
.liveChat_switchers li{
display: block;
text-align: center;
}
.liveChat_switchers li.active{
  background: #ffffff;
}
.liveChat_switchers ul{
padding: 0;
}
.liveChat_switcher{
box-sizing: initial;
  box-shadow: none;
  background: none repeat scroll 0 0 transparent;
  border: none;
  border-spacing: 0;
  list-style: none outside none;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  outline: none;
  display: inline-block;
  vertical-align: middle;
  align-items: center;
  cursor: pointer;
  display: inline-block;
  position: relative;
  flex-direction: column;
  justify-content: center;
  height: 80px;
  line-height: 80px;
  z-index: 2;
}
.liveChatWindow_slide{
width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  -web-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
 position: absolute;
 top: 0;
 left: 100%;
 background: #ffffff;
}
.liveShowChat{
left: 0;
}
.liveChatCallback{
position: relative;
  height: 100%;
  width: 100%;
}
.liveChatCallback__form{
padding: 30px 20px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
}
.liveChatContent{
position: absolute;
height: 100%;
width: 100%;
padding: 30px 20px;
top:100%;
left: 0;
}
.liveChatContent form{
height: 100%;
position: relative;
}
.liveChatField{
position: absolute;
width: 100%;
bottom: 0;
left: 0;
}
.liveChatInput button{
position: absolute;
  bottom: 7px;
  right: 5px;
  border: none;
}
.collapseForm{
top: -100%;
}
.chatBox{
top: 0;
}
.chat-control{
display: block;
  width: 100%;
  padding: .375rem 2rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.chat-control:focus{
color:
#495057;
background-color:
#fff;
border-color:
#80bdff;
outline: 0;
box-shadow: 0 0 0 .2rem
rgba(0,123,255,.25);
}
.liveChatTitle{
text-decoration: none;
  font-size: 14px;
  line-height: 21px;
  color: #243238;
  text-align: center;
  font-weight: 600;
}
.button_TMButton{
background: linear-gradient(180deg,#42a5f5,#2196f3);
color: #ffffff;
}

.liveChatWindow__header{
align-items: center;
  box-shadow: inset 0 -1px 0 rgba(36,50,56,0.1);
  display: flex;
  height: 40px;
  position: relative;
  width: 100%;
  background: #a39ff9;
  color: #fff;
}
.chatHeaderTitle{
width: 100%;
text-align: center;
}
.chat-footer{
text-align: center;
  margin-top: 15px;
}

.dashboard-slider .owl-carousel .owl-nav button.owl-prev{
  position: absolute;
    left: 0;
    top: 43%;
    font-size: 500%;
    color: #ffffff;
    padding: 0 !important;
    line-height: 0;
}
.dashboard-slider .owl-carousel .owl-nav button.owl-next{
  position: absolute;
    right: 0;
    top: 43%;
    font-size: 500%;
    color: #ffffff;
    padding: 0 !important;
    line-height: 0;
}
.dashboard-slider .row{
  margin:0;
}
