@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import "../../../assets/css/vendors.bundle";
@import "../../../assets/css/style.bundle";
.kt-wizard-v4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(25% - 0.25rem);
        flex: 0 0 calc(25% - 0.25rem);
        width: calc(25% - 0.25rem);
        background-color: #f7f8fb;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem; }
        @media (max-width: 1399px) {
          .kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 calc(50% - 0.25rem);
            flex: 0 0 calc(50% - 0.25rem);
            width: calc(50% - 0.25rem);
            border-bottom-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
            margin-bottom: 0.5rem; } }
        .kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item .kt-wizard-v4__nav-body {
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          color: #959cb6;
          padding: 2rem 2.5rem; }
          .kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item .kt-wizard-v4__nav-body .kt-wizard-v4__nav-number {
            font-size: 1.3rem;
            font-weight: 600;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 2.75rem;
            flex: 0 0 2.75rem;
            height: 2.75rem;
            width: 2.75rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            background-color: rgba(61, 148, 251, 0.08);
            color: #3d94fb;
            margin-right: 1rem;
            border-radius: 0.5rem; }
          .kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item .kt-wizard-v4__nav-body .kt-wizard-v4__nav-label {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column; }
            .kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item .kt-wizard-v4__nav-body .kt-wizard-v4__nav-label .kt-wizard-v4__nav-label-title {
              font-size: 1.1rem;
              font-weight: 600; }
        .kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item[data-ktwizard-state="current"] {
          background-color: #ffffff; }
          .kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item[data-ktwizard-state="current"] .kt-wizard-v4__nav-body .kt-wizard-v4__nav-number {
            color: #ffffff;
            background-color: #3d94fb; }
          .kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item[data-ktwizard-state="current"] .kt-wizard-v4__nav-body .kt-wizard-v4__nav-label .kt-wizard-v4__nav-label-title {
            color: #3d94fb; }
      @media (max-width: 768px) {
        .kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start; }
          .kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            position: relative;
            width: 100%; }
            .kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item .kt-wizard-v4__nav-body {
              -webkit-box-pack: start;
              -ms-flex-pack: start;
              justify-content: flex-start;
              -webkit-box-flex: 0;
              -ms-flex: 0 0 100%;
              flex: 0 0 100%;
              padding: 0.5rem 2rem; } }
    .kt-wizard-v4 .kt-wizard-v4__wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form {
        width: 60%;
        padding: 4rem 0 5rem; }
        .kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form .kt-wizard-v4__content {
          padding-bottom: 2rem;
          margin-bottom: 2rem;
          border-bottom: 1px solid #eeeef4; }
          .kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form .kt-wizard-v4__content .kt-wizard-v4__form {
            margin-top: 3rem; }
          .kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form .kt-wizard-v4__content .kt-wizard-v4__review .kt-wizard-v4__review-item {
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            border-bottom: 1px solid #eeeef4; }
            .kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form .kt-wizard-v4__content .kt-wizard-v4__review .kt-wizard-v4__review-item .kt-wizard-v4__review-title {
              font-weight: 600;
              font-size: 1.1rem;
              margin-bottom: 0.7rem; }
            .kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form .kt-wizard-v4__content .kt-wizard-v4__review .kt-wizard-v4__review-item .kt-wizard-v4__review-content {
              line-height: 1.8rem; }
            .kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form .kt-wizard-v4__content .kt-wizard-v4__review .kt-wizard-v4__review-item:last-child {
              border-bottom: none;
              margin-bottom: 0;
              padding-bottom: 0; }
        .kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form .kt-form__actions {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between; }
          @media (max-width: 576px) {
            .kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form .kt-form__actions {
              -ms-flex-wrap: wrap;
              flex-wrap: wrap;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center; } }
          @media (max-width: 576px) {
            .kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form .kt-form__actions .btn {
              margin: 0 0.5rem 1rem; } }
          .kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form .kt-form__actions [data-ktwizard-type="action-prev"] {
            margin-right: auto; }
            @media (max-width: 576px) {
              .kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form .kt-form__actions [data-ktwizard-type="action-prev"] {
                margin-right: 0.5rem; } }
          .kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form .kt-form__actions [data-ktwizard-type="action-next"] {
            margin: auto 0 auto auto; }
            @media (max-width: 576px) {
              .kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form .kt-form__actions [data-ktwizard-type="action-next"] {
                margin: 0 0 1rem; } }
      @media (max-width: 768px) {
        .kt-wizard-v4 .kt-wizard-v4__wrapper {
          padding: 2rem; }
          .kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form {
            width: 100%;
            padding: 2rem 1rem 4rem; } }
    .kt-wizard-v4 [data-ktwizard-type="step-info"] {
      display: none; }
      .kt-wizard-v4 [data-ktwizard-type="step-info"][data-ktwizard-state="current"] {
        display: block; }
    .kt-wizard-v4 [data-ktwizard-type="step-content"] {
      display: none; }
      .kt-wizard-v4 [data-ktwizard-type="step-content"][data-ktwizard-state="current"] {
        display: block; }
    .kt-wizard-v4 [data-ktwizard-type="action-prev"] {
      display: none; }
    .kt-wizard-v4 [data-ktwizard-type="action-next"] {
      display: inline-block; }
    .kt-wizard-v4 [data-ktwizard-type="action-submit"] {
      display: none; }
    .kt-wizard-v4[data-ktwizard-state="first"] [data-ktwizard-type="action-prev"] {
      display: none; }
    .kt-wizard-v4[data-ktwizard-state="first"] [data-ktwizard-type="action-next"] {
      display: inline-block; }
    .kt-wizard-v4[data-ktwizard-state="first"] [data-ktwizard-type="action-submit"] {
      display: none; }
    .kt-wizard-v4[data-ktwizard-state="between"] [data-ktwizard-type="action-prev"] {
      display: inline-block; }
    .kt-wizard-v4[data-ktwizard-state="between"] [data-ktwizard-type="action-next"] {
      display: inline-block; }
    .kt-wizard-v4[data-ktwizard-state="between"] [data-ktwizard-type="action-submit"] {
      display: none; }
    .kt-wizard-v4[data-ktwizard-state="last"] [data-ktwizard-type="action-prev"] {
      display: inline-block; }
    .kt-wizard-v4[data-ktwizard-state="last"] [data-ktwizard-type="action-next"] {
      display: none; }
    .kt-wizard-v4[data-ktwizard-state="last"] [data-ktwizard-type="action-submit"] {
      display: inline-block; }
  
  /* // Responsive mode(ref $kt-media-breakpoints in framework\_config.scss)
  // Above 1200px
  @include kt-media-above(xl) {
      .kt-wizard-v4 {
          
      }
  }
  
  // Above 1024px and below 1200px
  @include kt-media-range(lg, xl) {
      .kt-wizard-v4 {
      
      }
  }
  
  // Below 1024px
  @include kt-media-below(lg) {
      .kt-wizard-v4 {
      
      }
  } */
  
  .singuppage {
    background-image: url('../../../assets/img/hdimage.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .sign-kid{
      width: 440px;
      position: absolute;
      right: 0;
      padding: 30px;
      background: white;
      box-shadow: 0px 0 8px rgba(0, 0, 0, 0.6);
      left: 0;
      margin: 0 auto;
      top: 20%;
      border-radius: 10px;
      .loginLogo {
          text-align: center;
          margin-bottom: 20px;
      }
      .form-control{
        font-size: 13px;
      }
      .divideedOr{
        position: relative;
        margin:0 0 20px 0;
        border-top: 1px solid #ccc;

        span{
          position: absolute;
          top: -11px;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 50px;
          text-align: center;
          background: #fff;
        }
      }
      .shareSm{
        button{
          width: 100%;
          border: none;
          text-align: left;
          color: #fff;
          padding: 10px 20px;
          border-radius: 3px;

          i{
            margin-right:10px;
          }
        }
        .googlebtn{
          background:#C03221
        }
        .facebookbtn{
          background:#3b5998
        }
      }
      .btnlogin{
        background: #3755c1;
        color: #fff;
        margin-top: 10px;
        font-size:13px;
      }
      .signsection{
        width: 100%;
        text-align: center;
        padding:20px 0 0;
        font-size:13px;
    }
    }
}

.processpage{
  background-image: url('../../../assets/img/bg-01.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  .sectionprocess{
   padding: 50px 0;
    .rms-container {
      width: 100%;
      max-width: 825px;
      height: auto;
      margin: 10px auto 0;
      background: #FFF;
      border-radius: 10px;
      box-shadow: 4px 5px 0 1px rgba(0, 0, 0, 0.24);
      overflow: hidden;

      .rms-content-title {
        background: #fff;
        color: #7e8b8f;
        font-size: 18px;
        font-weight: 300;
        padding: 15px;
        float: left;
        width: 100%;
        .leftside-title {
            float: left;
            b {
              color: #5cb0cf;
              font-weight: 400;
              i {
                font-size: 21px !important;
            }
          }
        }
        .step-label {
          float: right;
          font-size: 16px;
      }
      }

      .rms-wizard-header {
        border-bottom: 1px solid #dadada;
        border-radius: 4px 4px 0 0;
        clear: both;
        background-repeat: no-repeat;
        background: -moz-linear-gradient(top,#FFF 0,#f0f0f0 100%);
        background: -webkit-linear-gradient(top,#f0f0f0 0,#f0f0f0 100%);
        background: linear-gradient(to bottom,#FFF 0,#f0f0f0 100%);

        .title {
          margin: 0;
          font-size: 20px;
          font-weight: 300;
          padding: 10px 15px;
          color: #757575;
          span{
            color: #59bbdf;
font-weight: 400;
          }
        }
      }
      .rms-step-section {
        padding: 10px;
        display: block;
        margin-bottom: 0;
        border-bottom: 1px solid #dadada;
        background: #FFF;
        .multiple-step-process{
          li.rms-step {
            list-style-type: none;
            float: left;
            width: 33%;
            position: relative;
            text-align: center;
            height: 115px;
            z-index: 10;
          }
        }
         
      }
    }
  }
}

.multiple-step-process li.rms-step::before {
	content: " ";
	width: 40px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #d9d9d9;
	display: block;
	font-size: 21px;
	font-weight: 600;
	text-align: center;
	margin: 0 auto 10px;
	border-radius: 50%;
	background: #eaeaea;
	color: #a9a9a9;
}
.multiple-step-process li.rms-step.rms-current-step::before {
	background-color: #fb6b5b;
	border-color: #fb4532;
	color: #FFF;
}

.mainProcess{
  background: #fff;
  float: left;
  width: 100%;
}
.rms-content-body {
	background: #f2f7f9;
	border: 1px solid #d0dde1;
	padding: 10px;
  border-radius: 4px;
  
}
.fbody{
  padding: 0 20px;
  clear: both;
}
.inpt-form-group{
  margin-bottom: 6px;
}
.button-section .next .btn {
	float: right;
	padding-right: 43px;
}
.button-section .btn {
	border-top: 1px solid #22a6f2;
	border-left: 1px solid #22a6f2;
	border-right: 1px solid #22a6f2;
	border-bottom: 1px solid #0060b1;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	padding: 7px 10px;
	position: relative;
	left: 0;
	transition: all .3s ease 0s;
	display: block;
	min-width: 155px;
	text-align: left;
	line-height: 15px;
	font-weight: 500;
	font-size: 14px;
	text-shadow: 1px 1px 1px #3D3D3D;
	text-decoration: none;
	background: -moz-linear-gradient(top,rgba(0,192,255,.7) 1%,rgba(4,121,210,1) 100%);
	background: -webkit-linear-gradient(top,rgba(0,192,255,.7) 1%,rgba(4,121,210,1) 100%);
	background: linear-gradient(to bottom,rgba(0,192,255,.7) 1%,rgba(4,121,210,1) 100%);

	-webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,.3);
	-moz-box-shadow: 0 1px 0 0 rgba(90, 52, 52, 0.3);
  box-shadow: 0 1px 0 0 rgba(0,0,0,.3);
  height:45px;
}
.button-section .next .btn::before, .button-section .submit .btn::before {
	content: "\f138";
	font-family: FontAwesome;
	position: absolute;
	padding-right: 3px;
	color: #FFF;
	top: 14px;
	right: 6px;
	font-size: 23px;
}
.button-section .next .btn::after, .button-section .submit .btn::after {
	content: "";
	width: 2px;
	height: 38px;
	background: 0 0;
	position: absolute;
	top: 3px;
	right: 0;
	margin-right: 36px;
	border-left: 1px solid #49c7f6;
	border-right: 1px solid #0077c5;
}
.button-section .btn small {
	display: block;
	font-size: 11px;
	font-weight: 400;
}
.rms-footer-section{
  padding: 15px 0;
  display: inline-block;
width: 100%;
}
.button-section .prev .btn {
  float: left;
  padding-left: 48px;
}
.button-section .prev .btn::before {
  content: "\f137";
  font-family: FontAwesome;
  position: absolute;
  color: #FFF;
  top: 14px;
  left: 7px;
  font-size: 23px;
}
.button-section .prev .btn::after {
  content: "";
  width: 2px;
  height: 38px;
  background: 0 0;
  position: absolute;
  top: 3px;
  left: 0;
  margin-left: 36px;
  border-left: 1px solid #49c7f6;
  border-right: 1px solid #0077c5;
}
.linkapps{
  padding-top:30px;
}

.loginLogo{
  a{
    img{
      width: 260px;
    }
  }
}