<div class="singuppage">
    <div class="sign-kid">
        <div class="loginLogo">
                <a class="navbar-brand" routerLink="/" (click)="closeSubMenus()">
                    <img src="assets/img/logo/az_logo_full.png" alt="" class="d-md-block d-none">
                    <img src="assets/img/logo/az_logo.png" alt="" class="d-md-none">
                </a>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="kt-form">
                <div class="form-group">
                        <input [formControl]="email" class="form-control checking-field" placeholder="Mobile No / Email Address" type="text">                      
                        <span class="help-block text-danger" *ngIf="form.get('email').touched && form.get('email').hasError('required')">Mobile or Email is required</span>                              
                        <span class="help-block text-danger" *ngIf="form.get('email').touched && form.get('email').hasError('invalidEmail')">Invalid email address or Mobile No</span>
                    </div>
                    <div class="form-group">
                        <input [formControl]="password" class="form-control checking-field" placeholder="Password" type="password">
                        <span class="help-block text-danger" *ngIf="form.get('password').touched && form.get('password').hasError('required')">Password is required</span>                              
                        <span class="help-block text-danger" *ngIf="form.get('password').touched && form.get('password').hasError('minlength')">Password isn't long enough, minimum of 6 characters</span>
                    </div>
                    <div class="divideedOr">
                       <span>Or</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="shareSm"> 
                      <div class="row">
                          <div class="col-xl-6 col-md-6 col-sm-12">
                                <button type="button" class="googlebtn" (click)="socialSignIn('google')">
                                        <i class="fa fa-google-plus"></i> Google
                                    </button>
                          </div>
                          <div class="col-xl-6 col-md-6 col-sm-12">
                                <button type="button" class="facebookbtn" (click)="socialSignIn('facebook')">
                                        <i class="fa fa-facebook"></i> Facebook
                                    </button>
                          </div>
                      </div>
                      
                    </div>
                    <button [disabled]="!form.valid" class="btn btn-main btn-block btnlogin" type="submit" click="GotoProcess()">Sign Up</button>
        </form>
        <div class="signsection">
                If You have Already Have Account <a href="javascript:void(0)" routerLink="/login">Sign In</a>
            </div>
    </div>
</div>