<div class="ls section20 section_padding_bottom_30">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 text-sm-center">
                <!-- Shop img -->
                <div class="shop-flexslider">
                    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7">
                <h3 class="shop-single__title">Wheat(गेहूँ)</h3>
                <div class="rating_section">
                    <span class="product-rating">
                        <div class="hGSR34">
                            4.5 <i class="fa fa-star"></i>
                        </div>
                    </span>
                    <span class="raview">
                        <span>71 Ratings </span>&nbsp;<span>&</span>&nbsp;<span>5 Review</span>
                    </span>
                </div>


                <span class="shop-item__price">
                    <span>
                        <span class="amount"><i class="fa fa-inr"></i> 75.00</span>
                        <span class="amount-cut"><i class="fa fa-inr"></i> 275.00</span>
                        <span class="discount_sss">10% off</span>
                    </span>
                </span>
                <p class="shop-single__text">गेहूं एक घास है जो अपने बीज के लिए व्यापक रूप से खेती की जाती है, एक अनाज अनाज जो दुनिया भर में मुख्य भोजन है। [२] [३] [४] गेहूं की कई प्रजातियां मिलकर जीनस ट्रिटिकम बनाती हैं; सबसे व्यापक रूप से उगाया जाने वाला आम गेहूं,
                    गेहूँ को किसी भी अन्य खाद्य फसल (220.4 मिलियन हेक्टेयर, 2014) की तुलना में अधिक भूमि क्षेत्र पर उगाया जाता है। [5] गेहूं में विश्व व्यापार अन्य सभी फसलों की तुलना में अधिक है। [६] 2017 में, गेहूं का विश्व उत्पादन 730 मिलियन टन था, 2019 उत्पादन का अनुमान 766 मिलियन टन था, [7] जो कि मक्का के बाद यह दूसरा सबसे अधिक उत्पादित अनाज है। [7] [8] 1960 के बाद से, गेहूं और अन्य अनाज की फसलों का विश्व उत्पादन तीन गुना हो गया है और 21 वीं सदी के मध्य तक और बढ़ने की उम्मीद है। [9] ग्लूटेन प्रोटीन के अद्वितीय चिपचिपा और चिपकने वाले गुणों के कारण गेहूं की वैश्विक मांग बढ़ रही है, जो प्रसंस्कृत खाद्य पदार्थों के उत्पादन को सुविधाजनक बनाती है, जिनकी खपत दुनिया भर में औद्योगिकीकरण प्रक्रिया और आहार के पश्चिमीकरण के परिणामस्वरूप बढ़ रही है।
                </p>
                <div class="shop-single__controls">
                    <div class="single-shop-item__gty">
                        <span class="quantity form-group">
                            <button type="button" (click)="increment()" class="minus">+</button>
                            <!-- <input type="button" value="-" class="minus"> -->
                            <input type="number" step="1" min="0" name="product_quantity" value="{{counter}}"
                                title="Qty" id="product_quantity" class="form-control ">
                            <!-- <input type="button" value="+" class="plus"> -->
                            <button (click)="decrement()" class="plus">-</button>
                        </span>

                    </div>
                </div>
                <div class="submitbtn">
                    <ul>
                        <li>
                            <button type="button" class="button-5">Add To Cart</button>
                        </li>
                        <li>
                            <button type="submit" class="button-51">Buy Now</button>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <tabset>
                    <tab heading="{{item.title}}" id="tab1" *ngFor="let item of productnote" class="customtabs">
                        {{item.description}}
                    </tab>
                </tabset>
            </div>

        </div>
    </div>
</div>