.pulse-button {
	border: none;
	box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
	border-radius: 2em;
    background-color: #0099cc;
    cursor: pointer;
    color: #fff;
    padding: 8px 25px;
	
  }
  .pulse-button:hover 
  {
	-webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	-moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	-ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  }
  
  @-webkit-keyframes pulse {to {box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);}}
  @-moz-keyframes pulse {to {box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);}}
  @-ms-keyframes pulse {to {box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);}}
  @keyframes pulse {to {box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);}}

  //
  .mtb20{
    margin: 20px 0;
  }
  .logoOrg{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #ccc;
    img{
      width: 100px;
      height: 100px;
    }
  }
  .uploadimg{
    padding: 10px 0;
    display: block;
  }
  .companyContent{
    position: relative;
    .editcontent{
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      z-index: 99;
    }

    li{
      display: block;
      padding: 0 0 10px;

      span{
        width: 30px;
        display: inline-block;
        height: 30px;
        background: #5c62b1;
        line-height: 30px;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        margin-right: 10px;
      }
    }
  }

  .localInfo{
    position: relative;
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 10px;
    h2{
      font-size: 1.214rem;
    }
    p{
      font-size: 13px;
    }
    .editcontent{
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      z-index: 99;
    }

  }

  .userform{
    h3{
      font-size: 1.214rem;
    }
  }
  
  
    .label{
      display: block;
    }
  
   .editform h2 {
      font-size: 1.214rem;
    }

    .fileUpload {
      position: relative;
      overflow: hidden;
  }
  .fileUpload input.upload {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
  }
  
  .btn--browse{
      border-left: 0;
    border-radius: 0 2px 2px 0;
    background: #5c62b1;
    color: #ffffff;
      height: 42px;
    padding: 10px 14px;
    margin-top: 40px;
    float: right;
  }
  
  .f-input{
    height: 42px;
    background-color: white;
    border: 1px solid gray;
    width: 100%;
    max-width: 400px;
    float: left;
    padding: 0 14px;
  }
  
  
  html { margin: 50px;}