<button type="button" class="pulse-button pull-right" (click)="gotoBack()">
  Back
</button>
<div class="clearfix"></div>

<section class="comapnysection mt20">
  <div>
    <tabset>
      <tab heading="Company Details" id="tab1">
        <div class="editform" *ngIf="OpenEditForm">
          <h2>Edit Company Details</h2>
          <form>
            <div>
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  <div class="fileUpload btn btn--browse">
                    <span>Upload Your logo</span>
                    <input
                      id="uploadBtn"
                      type="file"
                      class="upload"
                      name="image"
                      (change)="fileProgress($event)"
                    />
                  </div>
                </div>
                <div class="col-sm-6 col-md-6">
                  <div
                    class="image-preview logoOrg"
                    style="margin: 10px 0 0 0;"
                  >
                    <img [src]="previewUrl" />
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="comapnyfield">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Company Name</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Allas</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Employee Count</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Phone Number</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Description</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Website</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Admin</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Country</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 text-right">
                <button
                  class="btn btn-primary"
                  type="submit"
                  (click)="refresh()"
                >
                  Save
                </button>
              </div>
            </div>
          </form>
        </div>
        <div *ngIf="companyEdit">
          <div class="companycontainer">
            <div class="row">
              <div class="col-sm-4 col-md-3">
                <div class="companylogo text-center">
                  <div class="logoOrg">
                    <img src="../../../../assets/img/company.jpg" />
                  </div>
                </div>
              </div>
              <div class="col-sm-8 col-md-9">
                <div class="companyContent">
                  <div class="editcontent" (click)="editCompanyForm()">
                    <i class="fa fa-pencil"></i>
                  </div>

                  <ul>
                    <li>
                      <span><i class="fa fa-home"></i></span> Abc Company
                    </li>
                    <li>
                      <span>
                        <i class="fa fa-envelope"></i>
                      </span>
                      Shradhanand2015@gmail.com
                    </li>
                    <li>
                      <span><i class="fa fa-phone"></i></span> 8017890364
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="localInfo">
            <div class="editcontent" (click)="createLocaleInfo()">
              <i class="fa fa-pencil"></i>
            </div>
            <h2>Locale Information</h2>
            <div *ngIf="setLocaleInfo">
              <form>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Currency</label>
                      <select class="form-control">
                        <option>Indian</option>
                        <option>USA</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Time Zone</label>
                      <select class="form-control">
                        <option>Indian</option>
                        <option>USA</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-12 text-right">
                    <button type="submit" class="btn btn-primary">Save</button>
                  </div>
                </div>
              </form>
            </div>
            <table class="table" *ngIf="localeInfo">
              <tbody>
                <tr>
                  <td>
                    Currency
                  </td>
                  <td>
                    United States
                  </td>
                </tr>
                <tr>
                  <td>Time Zone</td>
                  <td>
                    (GMT 5:30) India Standard Time (Asia/Kolkata)
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </tab>
      <tab heading="Fiscal Year">
        <div class="localInfo" style="border: none; margin: 0;">
          <h2>Fiscal Year</h2>
          <p>
            This page enables you to set the start month for your Fiscal Year.
          </p>

          <form>
            <div class="row">
              <div class="col-sm-4 col-md-4">
                Fiscal Year begins in
              </div>
              <div class="col-sm-8 col-md-8">
                <select class="form-control">
                  <option>January</option>
                  <option>February</option>
                </select>
              </div>
            </div>
            <div class="row" style="margin-top: 15px;">
              <div class="col-sm-4 col-md-4">
                Display Fiscal Year Based on
              </div>
              <div class="col-sm-8 col-md-8">
                <div id="fydisplay">
                  <input type="radio" name="year" value="Startmonth" checked />
                  Start Month &nbsp;
                  <input type="radio" name="year" value="endmonth" /> End Month
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 text-right">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </div>
          </form>
        </div>
      </tab>
      <tab heading="Business Hours">
        <div class="localInfo" style="border: none; margin: 0;">
          <h2>Business Hours</h2>
          <p>
            Business hours define the operational hours of your organization.
            Set business hours to help your employees ensure that the activities
            are carried out at the operational hours of your organization.
          </p>

          <div class="row">
            <div class="col-sm-12 text-right">
              <button
                type="button"
                class="btn btn-primary"
                (click)="CreateGroups()"
              >
                + New Business Hours
              </button>
            </div>
          </div>

          <!-- show and hide form -->
          <ng-container *ngIf="toggleForm">
            <div class="userform">
              <h3>Create Business Hours</h3>
              <form>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-4">
                      <label>Business Hours</label>
                    </div>
                    <div class="col-sm-8">
                      <div id="fydisplay">
                        <label class="label"
                          ><input
                            type="radio"
                            name="year"
                            value="7days"
                            checked
                          />
                          24 Hours X 7 days</label
                        >
                        <label class="label"
                          ><input type="radio" name="year" value="5days" /> 24
                          Hours X 5 days</label
                        >
                        <label class="label"
                          ><input type="radio" name="year" value="chours" />
                          Custom Hours</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-4">
                      <label>Week starts on</label>
                    </div>
                    <div class="col-sm-8">
                      <div id="fydisplay">
                        <select class="form-control">
                          <option>January</option>
                          <option>February</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 text-right">
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </form>
            </div>
          </ng-container>
        </div>
      </tab>
      <tab heading="Holidays">
        <div class="localInfo" style="border: none; margin: 0;">
          <h2>Holiday Details</h2>
          <p>
            Create a list of holidays based on your organization's location.
          </p>

          <div class="row">
            <div class="col-sm-12 text-right">
              <button
                type="button"
                class="btn btn-primary"
                (click)="CreateHolidays()"
              >
                New Holiday List 2020
              </button>
            </div>
          </div>
          <!-- show and hide form -->
          <ng-container *ngIf="holidayform">
            <div class="userform">
              <h3>Create Holiday List 2020</h3>
              <div>
                <form
                  [formGroup]="phaseForm"
                  class="xx"
                  novalidate
                  (ngSubmit)="onSubmit()"
                >
                  <div formGroupName="phaseExecutions">
                    <div formArrayName="PRE">
                      <div
                        *ngFor="let phase of phaseArray.controls; let i = index"
                        [formGroupName]="i"
                      >
                        <table class="table">
                          <tr>
                            <td>
                              <input
                                type="text"
                                placeholder="Holiday Name"
                                class="form-control"
                                formControlName="phaseType"
                                (change)="onChange($event.target.value, i)"
                              />
                            </td>
                            <td>
                              <input
                                type="text"
                                class="form-control"
                                formControlName="phaseValue"
                                bsDatepicker
                              />
                            </td>
                            <td>
                              <button
                                type="button"
                                class="btn btn-primary"
                                (click)="addMorePhase()"
                              >
                                +
                              </button>
                            </td>
                            <td>
                              <button
                                type="button"
                                class="btn btn-danger"
                                (click)="removePhase()"
                              >
                                -
                              </button>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </ng-container>
        </div>
      </tab>
    </tabset>
  </div>
</section>
